// _animations.scss

// Tap Pulse
  @-webkit-keyframes tapPulse {
    0% {
      background: $color-grey;
      @include scale(1);
    }
    50% {
      background: $color-red;
      @include scale(1.5);
    }
    100% {
      @include scale(1);
    }
  }
  @keyframes tapPulse {
    0% {
      background: $color-grey;
      @include scale(1);
    }
    50% {
      background: lighten($color-red,15%);
      @include scale(2);
    }
    100% {
      background: $color-red;
      @include scale(1);
    }
  }

// BG Fade In
  @-webkit-keyframes bgFadeIn {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes bgFadeIn {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

// Fade In Up
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      @include translate(0,100px);
    }
    100% {
      opacity: 1;
      @include translate(0,0);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      @include translate(0,100px);
    }
    100% {
      opacity: 1;
      @include translate(0,0);
    }
  }