// _base.scss

// Insert Fonts
  @import 'https://fonts.googleapis.com/css?family=Vollkorn:400i';

// Start Generic Class
  html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
  }
  body {
    background: $color-black;
    height: 100%;
    width: 100%;
    padding: $space-2 0;
    position: absolute;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.overflow {
      overflow: hidden;
    }
    &:before {
      background: $color-black;
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 10000;
      opacity: 1;
      @include animation(pageEnter 2s $timing 0ms normal 1 forwards);
    }
    &.page-leave {
      &:before {
        @include animation(pageLeave 1s $timing 0ms normal 1 forwards);
      }
    }
  }

  // Theme
    h1, h2, h3, h4, h5, h6 {
      color: $color-white;
    }

    p {
      color: $color-grey-l3;
      &.paragraph-large {
        font-weight: 700;
      }
    }

  // Site
    .pull-right {
      float: right;
    }
    .site-wrap {
      height: 100%;
      margin: 0 auto;
      position: relative;
      width: 100%;
    }
    .site-block {
      margin: 0 auto $space-4 auto;
      min-height: 45vh;
      position: relative;
    }
    .site-block--full-width {
      max-width: 100%;
      width: 100%;
    }
    .site-block--max-width {
      max-width: 1600px;
      width: 100%;
      @media (min-width: $mq-small) {
        width: 80%;
      }
    }
    .site-block--small-height {
      margin-bottom: 0;
      min-height: 72px;
    }
    .case-studies {
      // @extend .no-list;
      height: 234px;
      position: absolute;
      width: 100%;
      bottom: 0;
    }
    .case-studies--wrap {
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
      height: 234px;
      width: 100%;
      font-size: 0;
      position: absolute;
      .js & {
          -ms-overflow-style: -ms-autohiding-scrollbar;
          &::-webkit-scrollbar {
              display: none;
          }
      }
    }
    .case-studies--contents {
      @extend .no-list;
      @include flexbox;
      width: 420px * 5;
      padding: 0 0 0 5%;
      position: absolute;
      transition: transform .2s ease-in-out;
      @media (min-width: $mq-small) {
        padding: 0 0 0 10.8%;
      }
    }
    .case-studies--block {
      background: #3E3E47;
      height: 234px;
      margin: 0 1rem 0 0;
      width: 400px;
    }
    .case-studies--advancer {
      color: #fff;
      @include font-size(14);
      position: absolute;
      z-index: 100;
      @include vertical-center;
    }
    .case-studies--advancer-left {
      left: 0;
      padding-left: 15%;
      [data-overflowing="both"] ~ &,
      [data-overflowing="left"] ~ & {
        opacity: 1;
      }
    }
    .case-studies--advancer-right {
      right: 0;
      padding-right: 2.5%;
      text-align: right;
      [data-overflowing="both"]  ~ &,
      [data-overflowing="right"] ~ & {
        opacity: 1;
      }
    }
    .site-nav--list {
      @include flexbox;
      @extend .no-list;
      display: none;
      @media (min-width: $mq-small) {
        display: block;
      }
    }
    .site-nav--element {
      margin: 0 1rem 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
    .site-nav--link {
      @include font-size(24);
      font-weight: 700;
    }
    .pn-ProductNav_Contents-no-transition {
      transition: none;
    }
    