// _base.scss

// Start Generic Class
  html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }
  body {
    background: $color-black;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.overflow {
      overflow: hidden;
    }
  }

  // Theme

    // Red Headers
    .index, .now, .projects, .cases, .about, .services, .journal {
      .site-header, .site-block-hero {
        @extend .theme-red;
      }
    }

    // Black Theme
    .projects, .services, .about, .journal, .contact, .now, .cases {
      @extend .theme-black;
    }

  // Site
    .no-margin {
      margin: 0;
    }

    .pull-right {
      float: right;
    }
    .site-wrap {
      height: 100%;
      margin: 0 auto;
      position: relative;
      width: 100%;
    }
    
    .site-block {
      margin: 0;
      padding: $space-4 $space-2;
      @media (min-width: $mq-tablet) {
        margin: 0;
        padding: $space-4 $space-2;
      }
      @media (min-width: $mq-laptop) {
        margin: 0;
        padding: $space-4 $space-4;
      }
    }
    .site-header, .site-footer {
      z-index: 10;
    }
    .site-block-hero, .site-block-cta {
      position: relative;
      max-width: 100%;
      z-index: 0;
    }
    .site-block-large-top {
      @media (min-width: $mq-laptop) {
        margin: 0;
        padding: $space-5 $space-4 $space-4;
      }
    }
    .site-block-height-full {
      min-height: 90vh;
      .container-fluid, .row, div[class^="col-"] {
        min-height: 100%;
      }
    }
    .site-block-text-center, .site-block-text-center div[class^="col-"] {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    .site-block-header {
      margin: 0 0 $space-2;
      @media (min-width: $mq-tablet) {
        margin: 0 0 $space-3;
      }
      p {
        margin-bottom: $space-1;
      }
    }
    
    .site-block-case-cta {
      padding: 0;
      font-weight: $font-weight-bold;
      @extend .t-16;
      border-top: 1px solid $color-slate;
      @media (min-width: $mq-tablet) {
        min-height: 200px;
      }
    }
    .site-block-case-cta-col {
      border-bottom: 1px solid $color-coal;
      min-height: $space-5;
      @media (min-width: $mq-tablet) {
        border-right: 1px solid $color-coal;
        border-bottom: 0;
        min-height: 0;
      }
    }

    // Block Colors
    .site-block-color-coal {
      @extend .theme-coal;
    }
    .site-block-color-red {
      @extend .theme-red;
    }

  

    .container-wrap {
      padding: 0 $space-2;
    }

    .masthead-logo {
      background: url('../img/mbp-logo.svg') no-repeat center;
      background-size: cover;
      height: 66px;
      width: 66px;
      cursor: pointer;
      display: block;
      // @include filter(invert(1));
      @include text-hide;
      &:hover {
        @include animations(lavalamp,$delay:200ms,$duration:2000ms,$iteration:infinite,$timing:$timing,$direction:normal);
      }
    }

    .site-nav-trigger {
      align-items: center;
      display: flex;
      height: 100%;
      float: right;
      position: relative;
      z-index: 1000000;
    }
    .site-nav {
      @include flexbox;
      @include flex-wrap(wrap);
      align-items: center;
      background: $color-black;
      height: 100vh;
      left: 100%;
      padding: $space-5 $space-3;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10;
      @include translate(0,0);
      @include transition($type:transform);
      @media (min-width: $mq-laptop) {  
        background: transparent;
        height: 100%;
        justify-content: flex-end;
        left: auto;
        padding: 0;
        position: static;
        top: auto;
        width: auto;
        z-index: 1;
        @include translate(0,0);
      }
      .site-nav-link {
        @include font-size(24);
        align-items: center;
        @include flexbox;
        color: $color-grey-light;
        font-weight: 700;
        // height: 14vh;
        width: 100%;
        @media (min-width: $mq-laptop) {
          font-weight: $font-weight-bold;
          height: auto;
          margin-left: $space-2;
          @include font-size(14);
          width: auto;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
        }
      }
    }
    .menuOpen {
      overflow: hidden;
      // .site-header, .site-footer, .site-block-hero, .site-block-cta {z-index: unset;}
      .site-nav {
        @media (max-width: $mq-laptop) {
          @include translate(-100%,0);
        }
      }
    }
    .site-nav-social {
      @include flexbox;
      @include flex-wrap(wrap);
      justify-content: center;
      align-items: center;
      margin: $space-2 0 0;
      @media (min-width: $mq-tablet) {
        margin: 0;
        justify-content: flex-end;
      }
      .site-nav-link {
        @include font-size(18);
        margin-left: $space-3;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    
    .my-shuffle {
      position: relative;
      overflow: hidden;
      height: auto !important;
      .column {
        position: relative;
        float: left;
        min-height: 1px;
        width: 50%;
        padding-left: 4px;
        padding-right: 4px;
        /* Space between tiles */
        margin-top: 8px;
        @media (min-width: $mq-tablet) {
          width: 25%;
        }
      }
      .aspect {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
      }

      .aspect__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .aspect--16x9 {
        padding-bottom: 56.25%;
      }

      .aspect--9x80 {
        padding-bottom: calc(112.5% + 8px);
      }

      .aspect--32x9 {
        padding-bottom: calc(28.125% - 3px);
      }

      img {
        display: block;
        width: 100%;

        max-width: none;
        height: 100%;
        object-fit: cover;
      }
    }
    .comp-list {
      color: $color-grey-light;
      margin: 0 0 $space-3 $space-2;
    }
    ol.comp-list {
      list-style: decimal;
    }
    .comp-block {
      margin: $space-3 0;
    }
    .comp-block--vert-2 {
      @include flexbox;
      flex-wrap: wrap;
      height: auto;
      width: 100%;
      @include scale(1);
      @include transition;
      &:hover {
        // @include scale(1.02);
        .comp-block--top {
          background: $color-grey-dark;
          width: 70%;
        }
        .comp-block--bottom {
          background: $color-grey-dark;
        }
        .comp-block--header-text-large {
          @include translate($space-1,0);
        }
        .comp-block--content-media {
          // @include scale(1.05);
          img {
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
          }
        }
        .comp-block--content-link {
          padding: 0 0 0 $space-2;
          &:before {
            background: $color-red;
            opacity: 1;
            width: 3rem;
          }
        }
      }
      .comp-block--part {
        margin: 0;
        padding: $space-2;
        position: relative;
        width: 100%;
      }
      .comp-block--header-text-large {
        @include font-size(48);
        font-weight: 300;
        margin: 0;
        @include transition;
        @include translate(0,0);
      }
      .comp-block--header-text-small {
        @include font-size(24);
        font-weight: 300;
        margin: 0;
        @include translate(0,0);
      }
      .comp-block--top {
        background: $color-grey-dark;
        display: inline-block;
        height: 40px;
        padding: $space-2 $space-2;
        width: 50%;
        @include transition;
        .comp-block--header {
          bottom: 0;
          position: absolute;
        }
      }
      .comp-block--bottom {
        background: $color-grey-dark;
        height: auto;
        padding: 0;
        @include transition;
      }
      .comp-block--content {
        height: auto;
        margin: 0;
        width: 100%;
      }
      .comp-block--content-media {
        margin: 0;
        width: 100%;
        @include scale(1);
        @include transition;
        img {
          box-shadow: 0 2px 4px rgba(0,0,0,0);
          width: 100%;
          @include transition;
        }
      }
      .comp-block--content-text {
        // background: $color-white;
        margin: 0;
        padding: $space-1 $space-2 $space-2 $space-2;
      }
      .comp-block--content-link {
        color: $color-white;
        font-weight: 700;
        padding: 0 0 0 $space-1;
        position: relative;
        text-decoration: none;
        @include font-size(16);
        @include transition;
        &:before {
          background: $color-black;
          content: "";
          height: 20px;
          left: -20px;
          opacity: 0.5;
          position: absolute;
          width: 2rem;
          @include vertical-center;
          @include transition;
        }
      }
    }
    .push-up--2 {
      position: relative;
      top: -2rem;
    }
    .push-up--3 {
      position: relative;
      top: -3rem;
    }
    #instagram a:nth-child(2){
      display: none;
    }
    ul.comp-music {
      @include nolist;
    }
    li.comp-music--track {
      background: $color-grey-dark;
      padding: $space-2;
      width: 100%;
      @include transition;
      &:hover {
        background: $color-grey-dark;
        span.comp-music--control {
          color: $color-white;
        }
        span.comp-music--meta {
          color: $color-white;
        }
      }
    }
    span.comp-music--control {
      @include flexbox;
      align-items: center;
      color: $color-grey-light;
      cursor: pointer;
      height: 44px;
      @include scale(1);
      @include transition($delay:200ms);
      &:hover {
        @include scale(1.01);
      }
    }
    span.comp-music--meta {
      color: $color-grey-light;
      @include transition($delay:200ms);
    }
    span.comp-music--meta-name {
      @include flexbox;
      align-items: center;
      min-height: 44px;
    }
    .comp-nav-sort {
      @include flexbox;
      @include font-size(24);
      margin: $space-2 0;
      @media (min-width: $mq-desktop) {
        float: right;
      }
    }
    .comp-nav-sort--label {
      color: $color-grey-light;
    }
    .comp-nav-sort--list {
      @include nolist;
      @include flexbox;
    }
    .comp-nav-sort--ele {
      @include font-size(24);
      color: $color-grey-dark;
      cursor: pointer;
      font-weight: 700;
      margin: 0 0 0 $space-2;
      &:hover {
        color: $color-grey-dark;
      }
    }
    .comp-nav-sort--ele-active {
      color: $color-grey-light;
      &:hover {
        color: $color-grey-light;
      }
    }
    .site-journal-entry {
      // background: $color-grey;
      margin: 0;
      padding: $space-5 0 0;
      &:nth-child(2) {
        padding: 0;
      }
    }
    .site-journal-entry--headline {
      @media (min-width: $mq-desktop) {
        @include font-size(64);
      }
    }
    .journal-entry--cta {
      @include font-size(24);
      margin: 0 0 $space-2 0;
    }
    .meta-data {
      color: $color-grey-light;
      list-style: none;
      margin: 0 0 $space-2;
      padding: 0;
      @include flexbox;
      @include flex-wrap(wrap);
    }
    .meta-data-el {
      @include font-size(18);
      margin: 0 $space-1 0 0;
      &:after {
        content:"/";
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    .loader {
      background: $color-red;
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 10000;
      @include animations(loader,$delay:900ms,$duration:2000ms,$iteration:1,$timing:$timing,$direction:normal,$fillmode:forwards);
    }
    .loader-logo {
      @include absolute-center;
      width: 200px;
    }
    .loader-logo--shape-1 {
      opacity: 0;
      @include animations(fadeInOut,$delay:200ms,$duration:800ms,$iteration:infinite,$timing:$timing,$direction:normal);
    }
    .loader-logo--shape-2 {
      opacity: 0;
      @include animations(fadeInOut,$delay:400ms,$duration:800ms,$iteration:infinite,$timing:$timing,$direction:normal);
    }
    .loader-logo--shape-3 {
      opacity: 0;
      @include animations(fadeInOut,$delay:800ms,$duration:800ms,$iteration:infinite,$timing:$timing,$direction:normal);
    }

    pre {
      background: $color-grey-dark;
      box-shadow: inset 10px 0 0 $color-grey-dark;
      overflow-x: scroll;
      padding: $space-2;
      code {
        color: $color-grey-light;
        @include font-size(18);
      }
    }

    .site-contact {
      // padding-top: $space-3;
      // padding-bottom: $space-3;
      @media (min-width: $mq-tablet) {
        padding-top: $space-5;
        padding-bottom: $space-5;
      }
      .site-block-header {
        margin: 0 0 $space-4 0;
        @media (min-width: $mq-desktop) {
          margin-bottom: 0;
        }
      }
      .site-contact-ele .col-12:last-child .site-block-header {
        margin-bottom: 0;
      }
    }

    .site-footer-content {
      margin: 0;
      text-align: center;
      @media (min-width: $mq-tablet) {
        text-align: left;
      }
    }

    .site-clients-list {
      list-style: none;
      margin: 0;
    }
    .site-clients-ele {
      background: $color-coal;
      padding: $space-2;
      object-fit: contain;
      text-align: center;
      @include flexbox;
      align-items: center;
      justify-content: center;
      height: 150px;
      margin-bottom: 1px;
      margin-right: 1px;
      &:hover {
        .site-clients-img {
          filter: grayscale(0%);
        }
      }
    }
    .site-clients-img {
      filter: grayscale(100%);
      @include transition;
      width: 100%;
      max-width: 100px;
      @media (min-width: $mq-laptop) {
        width: auto;
        max-width: 200px;
      }
    }

    .music_index {
      @extend .theme-red;
    }

    // Subscription Box

    .sub-box {
      border: 4px solid $color-black;
      border-left: 0;
      border-right: 0;
      padding: $space-2 0;
      @include flexbox;
      @include flex-wrap(wrap);
      width: 100%;
      @media (min-width: $mq-laptop) {
        @include flex-wrap(nowrap);
      }
    }
    .sub-box-input {
      border: 0;
      @include font-size(24);
      font-weight: 700;
      height: 72px;
      outline: none;
      padding: $space-2 $space-2;
      width: 100%;
    }
    .sub-box-submit {
      border: 0;
      cursor: pointer;
      @extend .comp-btn;
      @include font-size(24);
      height: 72px;
      outline: none;
      padding: $space-2 $space-2;
      width: 100%;
      @media (min-width: $mq-laptop) {
        width: 20%;
      }
    }

    .ordered-list {
      list-style: none;
      counter-reset: my-awesome-counter;

      li {
        counter-increment: my-awesome-counter;
        &:before {
          content: "Step " counter(my-awesome-counter) ". ";
          display: block;
          font-weight: 700;
          position: relative;
          width: 100%;
        }
      }
    }

  // About Timeline
    .about-timeline-block {
      border-bottom: 1px dashed $color-coal;
      &:nth-child(even){
        background: rgba(0,0,0,0.1);
      }
      &:last-child {
        border-bottom: 0;
      }
    }
    .about-timeline-date {
      color: $color-grey;
      @extend .t-18;
      line-height: 1.1;
      padding: $space-3 0 $space-2 0;
      @media (min-width: $mq-tablet) {
        padding: $space-3 0 0 0;
      }

      .about-timeline-year, .about-timeline-qtr {
        display: block;
        text-align: left;
        width: 100%;
        @media (min-width: $mq-tablet) {
          text-align: right;
        }
      }
      .about-timeline-year {
        font-weight: 700;
        padding-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
      }
      .about-timeline-qtr {
        @extend .t-48;
        color: $color-grey-light;
        font-weight: 300;
      }
    }
    .about-timeline-content {
      padding: $space-1 0 $space-3;
      position: relative;
      @media (min-width: $mq-tablet) {
        border-left: 1px solid $color-grey-dark;
        padding: $space-3 0 $space-3 $space-3;
      }
      &:hover {
        &:before {
          background: $color-red;
        }
      }
      p:last-child {
        margin: 0;
      }
    }
    .about-timeline-content::before {
      content: "";
      background: $color-grey-light;
      border-radius: 10px;
      display: none;
      height: 10px;
      left: -5px;
      top: 0;
      position: absolute;
      width: 10px;
      @include vertical-center;
      @media (min-width: $mq-tablet) {
        display: block;
      }
    }
    .about-timeline-content-img {
      width: 100%;
    }
    .about-timeline-year-select {
      height: 100%;
      @include vertical-center;
      @include nolist;
      @include flexbox;
      align-items: center;
      align-content: center;
      // vertical-align: center;
      @include flex-wrap(wrap);
      padding: 0 $space-2 0 0;
      position: fixed;
      right: 0;
      text-align: right;
      width: 80px;
      z-index: -1;
      .about-timeline-year-select-ele {
        @extend .t-12;
        line-height: 1;
        margin: 5px 0;
        width: 100%;
      }
      .about-timeline-year-select-link {
        color: $color-grey-light;
        font-weight: 400;
      }
    }
  
  // Block Content
    .block-content {
      margin: 0 0 $space-4 0;
      .block-set {
        margin: 0 0 $space-3 0;
      }
    }

  // Cases
    .case-header {
      @media (max-width: $mq-tablet) {
        @include font-size(36);
      }
    }

  // Subnav
    .site-nav-subnav-container {
      margin: 0 0 $space-4 0;
      &.stuck {
        position: fixed;
        top: $space-2;
      }
    }