// _base.scss

// Start Generic Class
  html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
  }
  body {
    background: $color-black;
    height: 100%;
    width: 100%;
    padding: $space-3 0;
    position: absolute;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.overflow {
      overflow: hidden;
    }
    &:before {
      background: $color-red;
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 100;
      opacity: 1;
      @include animation(pageEnter 100ms $timing 0ms normal 1 forwards);
    }
    &.page-leave {
      &:before {
        @include animation(pageLeave 100ms $timing 0ms normal 1 forwards);
      }
    }
  }

  // Theme
    h1, h2, h3, h4, h5, h6 {
      color: $color-white;
    }

    p {
      color: $color-grey-l3;
      @include font-size(24);
      &.paragraph-large {
        font-weight: 700;
      }
      &.paragraph-small {
        @include font-size(20);
      }
    }
    a {
      color: $color-red;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

  // Site
    .pull-right {
      float: right;
    }
    .site-wrap {
      height: 100%;
      margin: 0 auto;
      position: relative;
      width: 100%;
      @include animations(loaderMain,$delay:700ms,$duration:1100ms,$iteration:1,$timing:$timing,$direction:normal,$fillmode:forwards);
    }
    .site-block {
      margin: 0 auto $space-4 auto;
      position: relative;
      z-index: 100;
      @media (min-width: $mq-small) {
        margin: 0 auto $space-5 auto;
        min-height: 50vh;
      }
    }
    .site-block--full-width {
      max-width: 100%;
      width: 100%;
    }
    .site-block--max-width {
      max-width: 1600px;
      width: 100%;
      @media (min-width: $mq-small) {
        width: 85%;
      }
    }
    .site-block--small-height {
      min-height: 72px;
    }
    .site-block--no-height, .site-block--bottom-0 {
      margin-bottom: 0;
      min-height: 72px;
    }
    .site-block--bottom-0 {
      margin-bottom: 0;
    }
    .site-block--bottom-1 {
      margin-bottom: $space-2;
    }
    .site-block--bottom-2 {
      margin-bottom: $space-2;
    }
    .site-block--bottom-4 {
      margin-bottom: $space-2;
    }

    $caseHeight: 630px;
    $caseWidth: 840px;

    $caseHeightMobile: $caseHeight/3;
    $caseWidthMobile: $caseWidth/3;

    .case-studies {
      position: relative;
    }
    .case-studies--block {
      margin: 0 1rem 0 0;
      @include transition;
      @media (min-width: $mq-small) {
        margin: 0 1rem 0 0;
      }
      img {
        height: $caseHeightMobile;
        width: $caseWidthMobile;
        @include transition;
        @media (min-width: $mq-small) {
          height: $caseHeight;
          width: $caseWidth;
        }
      }
    }
    .slick-slide.slick-current img {
      opacity: 1;
      @include scale(1);
    }
    .slick-slide img {
      opacity: 0.5;
      @include scale(0.8);
    }

    .case-studies--advancer,.slick-arrow {
      background: $color-white;
      border: 0;
      box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
      color: $color-black;
      cursor: pointer;
      height: 80px;
      position: absolute;
      text-align: center;
      width: 80px;
      z-index: 10000;
      display: none;
      @include vertical-center;
      @include transition;
      @media (min-width: $mq-small) {
        display: block;
      }
      i {
        @include absolute-center;
        @include font-size(24);
        @include transition;
      }
    }
    .case-studies--advancer-left, .slick-prev {
      // padding-left: 10%;
      [data-overflowing="both"] ~ &,
      [data-overflowing="left"] ~ & {
        opacity: 1;
      }
      &:hover {
        i {
          margin-left: -.5rem;
        }
      }
      @media (min-width: $mq-small) {
        left: 8%;
      }
    }
    .case-studies--advancer-right, .slick-next {
      right: 0;
      text-align: right;
      [data-overflowing="both"]  ~ &,
      [data-overflowing="right"] ~ & {
        opacity: 1;
      }
      &:hover {
        i {
          margin-left: .5rem;
        }
      }
    }

    .blog-list {
      @include flexbox;
      @include flex-wrap(wrap);
      // justify-content: space-between;
    }
    .blog-list-ele {
      flex-grow: 2;
      margin: 0 0 $space-2 0;
      overflow: hidden;
      padding: $space-1;
      position: relative;
      width: 100%;
      @include transition;
      @media (min-width: $mq-small) {
        width: 50%;
      }
      @media (min-width: $mq-medium) {
        width: 25%;
      }
      &:before {
        background: $color-red;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        @include translate(105%,0);
        @include transition;
      }
      &:hover {
        &:before, .blog-list-inner:before {
          @include translate(0,0);
        }
      }
      &.lead {
        width: 100%;
        @media (min-width: $mq-medium) {
          width: 50%;
        }
      }
    }
    .blog-list-inner {
      background: $color-grey-d4;
      height: auto;
      overflow: hidden;
      padding: $space-3 $space-2;
      position: relative;
      @media (min-width: $mq-small) {
        height: 350px;
      }
      &:before {
        background: $color-red;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        @include translate(-105%,0);
        @include transition;
      }
    }
    .blog-list-content {
      position: relative;
      z-index: 10;
    }
    .blog-list-tag {
      color: rgba(255,255,255,0.3);
      @include font-size(16);
      font-weight: 700;
      text-transform: uppercase;
    }
    .masthead-logo {
      background: url('../img/mbp-logo.svg') no-repeat center;
      background-size: cover;
      height: 66px;
      width: 66px;
      cursor: pointer;
      display: block;
      // @include filter(invert(1));
      @include text-hide;
      &:hover {
        @include animations(lavalamp,$delay:200ms,$duration:2000ms,$iteration:infinite,$timing:$timing,$direction:normal);
      }
    }
    .site-nav {
      display: none;
      @media (min-width: $mq-small) {
        display: block;
        left: 10px;
        position: fixed;
        top: 50%;
        @include transform(rotate(-90deg) translate(-50%,0));
        transform-origin: left top;
        z-index: 1000;
      }
    }
    .site-nav--list {
      @extend .no-list;
      @media (min-width: $mq-small) {
        @include flexbox;
        flex-direction: row-reverse;
        justify-content: center;
        position: relative;
      }
    }
    .site-nav--element {
      margin: 0 0 0 $space-3;
      padding: 0;
      &:last-child {
        margin-right: 0;
      }
    }
    .site-nav--link {
      background: transparent;
      color: $color-grey-d1;
      @include font-size(24);
      font-weight: 700;
      text-decoration: none;
      @include transition;
      &:hover {
        color: $color-grey-l1;
      }
    }
    .site-nav--active {
      color: $color-white;
      text-shadow: 0 2px 2px rgba(0,0,0,0.4);
    }
    .pn-ProductNav_Contents-no-transition {
      transition: none;
    }
    .style-mission {
      background: transparent;
      // background-size: 30%;
      // @media (min-width: $mq-small) {
      //   background: url('../img/mbp-home-wireframelayout.svg') no-repeat right top;
      // }
    }
    .my-shuffle {
      position: relative;
      overflow: hidden;
      height: auto !important;
      .column {
        position: relative;
        float: left;
        min-height: 1px;
        width: 50%;
        padding-left: 4px;
        padding-right: 4px;
        /* Space between tiles */
        margin-top: 8px;
        @media (min-width: $mq-small) {
          width: 25%;
        }
      }
      .aspect {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
      }

      .aspect__inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .aspect--16x9 {
        padding-bottom: 56.25%;
      }

      .aspect--9x80 {
        padding-bottom: calc(112.5% + 8px);
      }

      .aspect--32x9 {
        padding-bottom: calc(28.125% - 3px);
      }

      img {
        display: block;
        width: 100%;

        max-width: none;
        height: 100%;
        object-fit: cover;
      }
    }
    .comp-list {
      color: $color-grey-l3;
      margin: 0 0 $space-3 $space-2;
    }
    ol.comp-list {
      list-style: decimal;
    }
    .comp-btn {
      display: inline-block;
      @include font-size(16);
      font-weight: 700;
      padding: 1rem 2rem;
      text-decoration: none;
      @include transition;
      &.comp-btn-red {
        background: $color-red;
        color: $color-white;
        &:hover {
          background: $color-red-l1;
        }
      }
      &.comp-btn-grey {
        background: $color-grey-d1;
        color: $color-white;
        &:hover {
          background: $color-grey;
        }
      }
    }


    .comp-block {
      margin: $space-3 0;
    }
    .comp-block--vert-2 {
      @include flexbox;
      flex-wrap: wrap;
      height: auto;
      width: 100%;
      @include scale(1);
      @include transition;
      &:hover {
        // @include scale(1.02);
        .comp-block--top {
          background: $color-grey-d3;
          width: 70%;
        }
        .comp-block--bottom {
          background: $color-grey-d2;
        }
        .comp-block--header-text-large {
          @include translate($space-1,0);
        }
        .comp-block--content-media {
          // @include scale(1.05);
          img {
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
          }
        }
        .comp-block--content-link {
          padding: 0 0 0 $space-2;
          &:before {
            background: $color-red;
            opacity: 1;
            width: 3rem;
          }
        }
      }
      .comp-block--part {
        margin: 0;
        padding: $space-2;
        position: relative;
        width: 100%;
      }
      .comp-block--header-text-large {
        @include font-size(48);
        font-weight: 300;
        margin: 0;
        @include transition;
        @include translate(0,0);
      }
      .comp-block--header-text-small {
        @include font-size(24);
        font-weight: 300;
        margin: 0;
        @include translate(0,0);
      }
      .comp-block--top {
        background: $color-grey-d4;
        display: inline-block;
        height: 40px;
        padding: $space-2 $space-2;
        width: 50%;
        @include transition;
        .comp-block--header {
          bottom: 0;
          position: absolute;
        }
      }
      .comp-block--bottom {
        background: $color-grey-d3;
        height: auto;
        padding: 0;
        @include transition;
      }
      .comp-block--content {
        height: auto;
        margin: 0;
        width: 100%;
      }
      .comp-block--content-media {
        margin: 0;
        width: 100%;
        @include scale(1);
        @include transition;
        img {
          box-shadow: 0 2px 4px rgba(0,0,0,0);
          width: 100%;
          @include transition;
        }
      }
      .comp-block--content-text {
        // background: $color-white;
        margin: 0;
        padding: $space-1 $space-2 $space-2 $space-2;
      }
      .comp-block--content-link {
        color: $color-white;
        font-weight: 700;
        padding: 0 0 0 $space-1;
        position: relative;
        text-decoration: none;
        @include font-size(16);
        @include transition;
        &:before {
          background: $color-black;
          content: "";
          height: 20px;
          left: -20px;
          opacity: 0.5;
          position: absolute;
          width: 2rem;
          @include vertical-center;
          @include transition;
        }
      }
    }
    .push-up--2 {
      position: relative;
      top: -2rem;
    }
    .push-up--3 {
      position: relative;
      top: -3rem;
    }
    .style-masthead {
      .comp-btn {
        margin: $space-1 0;
      }
    }
    #instagram a:nth-child(2){
      display: none;
    }
    ul.comp-music {
      @include nolist;
    }
    li.comp-music--track {
      background: $color-grey-d4;
      padding: $space-2;
      width: 100%;
      @include transition;
      &:hover {
        background: $color-grey-d3;
        span.comp-music--control {
          color: $color-white;
        }
        span.comp-music--meta {
          color: $color-white;
        }
      }
    }
    span.comp-music--control {
      @include flexbox;
      align-items: center;
      color: $color-grey-l1;
      cursor: pointer;
      height: 44px;
      @include scale(1);
      @include transition($delay:200ms);
      &:hover {
        @include scale(1.01);
      }
    }
    span.comp-music--meta {
      color: $color-grey-l3;
      @include transition($delay:200ms);
    }
    span.comp-music--meta-name {
      @include flexbox;
      align-items: center;
      min-height: 44px;
    }
    .comp-nav-sort {
      @include flexbox;
      @include font-size(24);
      margin: $space-2 0;
      @media (min-width: $mq-large) {
        float: right;
      }
    }
    .comp-nav-sort--label {
      color: $color-grey-l1;
    }
    .comp-nav-sort--list {
      @include nolist;
      @include flexbox;
    }
    .comp-nav-sort--ele {
      @include font-size(24);
      color: $color-grey-d2;
      cursor: pointer;
      font-weight: 700;
      margin: 0 0 0 $space-2;
      &:hover {
        color: $color-grey-d1;
      }
    }
    .comp-nav-sort--ele-active {
      color: $color-grey-l3;
      &:hover {
        color: $color-grey-l3;
      }
    }
    .site-journal-entry {
      // background: $color-grey;
      margin: 0;
      padding: $space-5 0 0;
      &:nth-child(2) {
        padding: 0;
      }
    }
    .site-journal-entry--headline {
      @media (min-width: $mq-large) {
        @include font-size(64);
      }
    }
    .site-journal-entry--desc {
      color: rgba(255,255,255,0.8);
    }
    .site-journal-entry--data li {
      color: rgba(255,255,255,0.6);
    }
    .journal-entry--cta {
      @include font-size(24);
      margin: 0 0 $space-2 0;
    }
    .meta-data {
      color: $color-grey-l2;
      list-style: none;
      margin: 0 0 $space-2;
      padding: 0;
      @include flexbox;
      @include flex-wrap(wrap);
    }
    .meta-data-el {
      @include font-size(18);
      margin: 0 $space-1 0 0;
      &:after {
        content:"/";
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    .loader {
      background: $color-red;
      bottom: 0;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 10000;
      @include animations(loader,$delay:900ms,$duration:2000ms,$iteration:1,$timing:$timing,$direction:normal,$fillmode:forwards);
    }
    .loader-logo {
      @include absolute-center;
      width: 200px;
    }
    .loader-logo--shape-1 {
      opacity: 0;
      @include animations(fadeInOut,$delay:200ms,$duration:800ms,$iteration:infinite,$timing:$timing,$direction:normal);
    }
    .loader-logo--shape-2 {
      opacity: 0;
      @include animations(fadeInOut,$delay:400ms,$duration:800ms,$iteration:infinite,$timing:$timing,$direction:normal);
    }
    .loader-logo--shape-3 {
      opacity: 0;
      @include animations(fadeInOut,$delay:800ms,$duration:800ms,$iteration:infinite,$timing:$timing,$direction:normal);
    }

    .site-blog-article-pagination {
      padding: $space-4 0;
      a {
        @include font-size(24);
      }
    }
    .site-blog-title {
      text-align: center;
      width: 100%;
    }
    .site-blog-post {
      ul {
        color: $color-grey-l2;
      }
      img {
        width: 100%;
      }
      p + h2, ul+ h2 {
        margin-top: $space-4;
      }
    }

    pre {
      background: $color-grey-d4;
      box-shadow: inset 10px 0 0 $color-grey-d3;
      overflow-x: scroll;
      padding: $space-2;
      code {
        color: $color-grey-l2;
        @include font-size(18);
      }
    }

    .site-footer {
      color: $color-grey-l2;
      @include font-size(16);
    }
