// Components

  // Buttons
    .comp-btn {
      border: 0;
      border-radius: 0;
      cursor: pointer;
      display: inline-block;
      @extend .t-16;
      font-weight: 700;
      height: 40px;
      outline: none;
      padding: $space-1 $space-2;
      text-align: center;
      text-decoration: none;
      @include transition(background-color);
      line-height: 1;
      padding-top: 14px;
      -webkit-appearance: none;
      width: auto;
    }
    .comp-btn-large {
      @extend .t-36;
      padding: $space-2 $space-3
    }
    .comp-btn-red {
      @extend .comp-btn;
      background: $color-red;
      color: $color-white !important;
      &:hover {
        background: $color-red-light;
        color: $color-white;
      }
    }
    .comp-btn-grey {
      background: $color-grey-dark;
      color: $color-white !important;
      &:hover {
        background: $color-grey;
      }
    }
    
  // Lists
    .list-default {
      margin-top: $space-2;
      margin-bottom: $space-3;
    }
    .list-sub {
      margin-top: $space-2;
      margin-bottom: 0;
    }

    ol.list-default {
      list-style-type: decimal;
      margin-left: 25px;
    }

    .list-bordered {
      list-style: none;
      margin: $space-2 0;
      & > * {
        border-bottom: 1px solid $color-grey-dark;
        margin: 0 0 $space-2;
        padding: 0 0 $space-2;
        p {
          margin: 0;
        }
        &:last-child {
          border-bottom: 0;
          margin: 0;
          padding: 0;
        }
      }
      &.spacing-large {
        & > * {
          margin: 0 0 $space-4;
          padding: 0 0 $space-4;
          &:last-child {
            border-bottom: 0;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  
  // Forms
    .form {
      .form-fieldset {
        background: $color-coal;
        margin: 0 0 $space-2;
        padding: $space-2 $space-2;
        width: auto;
        &:hover {
          background: $color-grey-dark;
          ::placeholder {
            color: $color-grey;
          }
        }
      }
      .form-fieldset-select {
        position: relative;
        &:after {
          color: $color-grey-light;
          content: "\f0d7";
          font-family: "Font Awesome 5 Pro";
          @extend .t-18;
          font-weight: 900;
          right: 30px;
          position: absolute;
          top: 55px;
          z-index: 10000;
        }
      }
      .form-fieldset-combo {
        @include flexbox;
        @include flex-wrap(wrap);
        .form-fieldset-header {
          background: $color-black-20;
          color: $color-gray-light;
          margin: -2rem -2rem 2rem -2rem;
          padding: $space-3 $space-2 $space-2 $space-2;
        }
        .form-fieldset {
          padding: 0;
          margin: 0 0 $space-2 0;
          background: transparent;
        }
        .form-label {
          width: 100%;
        }
        .form-input {
          background: $color-white;
          color: $color-black;
          padding: $space-1;
          width: 100%;
        }
        .form-btn {
          @include transition(all, 0);
          width: 100%;
          -webkit-appearance: none;
        }
      }
      .form-fieldset-btn {
        background: transparent;
        padding: 0;
        &:hover {
          background: transparent;
        }
      }
      ::placeholder {
        color: $color-coal;
        opacity: 1;
      }
      .form-label {
        @extend .t-14;
        color: $color-grey-light;
        display: block;
        font-weight: 700;
        letter-spacing: .04em;
        margin: 0;
        text-transform: uppercase;
        width: 100%;
      }
      .form-input {
        background: transparent;
        border: 0;
        color: $color-white;
        @extend .t-24;
        @extend .t-bold;
        outline: none;
        padding: $space-1;
        padding-left: 0;
        width: 100%;
      }
      .form-select {
        background: transparent;
        border-radius: 0;
        border: 0;
        color: $color-white;
        cursor: pointer;
        @extend .t-24;
        @extend .t-bold;
        outline: none;
        padding: $space-1;
        padding-left: 0;
        -webkit-appearance: none;
        width: 100%;
      }
      .form-textarea {
        background: transparent;
        border: 0;
        color: $color-white;
        @extend .t-18;
        @extend .t-bold;
        font-family: $font-secondary;
        padding: $space-2 0;
        min-height: 200px;
        outline: none;
        width: 100%;
      }
      .input::-webkit-contacts-auto-fill-button {
        background-color: $color-white !important;
      }
    }

  // Navs
    // Sub Nav
      .site-nav-subnav {
        @include flexbox;
        @include flex-wrap(wrap);

        .site-nav-subnav-link {
          display: block;
          @extend .t-normal;
          @extend .t-16;
          width: 100%;
        }
      }
  // Box
    .box {
      background: $color-coal;
      margin: 0 0 $space-2;
      padding: $space-3;
    }
    .pricing-box {
      @include flexbox;
      @include flex-wrap(wrap);
      align-content: center;
      align-items: center;
      & > * {
        width: 100%;
      }
      @media (min-width: $mq-tablet) {
        height: 250px;
      }
    }
    .pricing-box-header {
      margin: 0 0 $space-3;
    }

  // Blog Index
    .blog-list-ele {
      background: $color-coal;
      height: 250px;
      margin-right: 1px;
      margin-bottom: 1px;
      overflow: hidden;
      padding: $space-3;
      position: relative;
      width: auto;
      @include transition(translate);
      &:before {
        background: $color-red;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        @include translate(105%,0);
        @include transition($time: 100ms);
      }
      &:hover {
        &:before, .blog-list-inner:before {
          @include translate(0,0);
        }
      }
    }
    .blog-list-link {
      display: block;
      height: 100%;
      width: 100%;
    }
    .blog-list-content {
      position: relative;
      z-index: 10;
    }
    .blog-list-tag {
      color: rgba(255,255,255,0.3);
      @include font-size(16);
      font-weight: 700;
      text-transform: uppercase;
    }
  // Code Blocks
    pre {
      margin: 0 0 $space-4 0;
    }