// Components

  // Buttons
    .comp-btn {
      @extend .text-ui;
      align-items: center;
      border: 0;
      border-radius: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 60px;
      outline: none;
      padding: 0 $space-2;
      text-decoration: none;
      @include transition(background-color);
      -webkit-appearance: none;
      width: auto;
    }
    .comp-btn-large {
      @extend .t-36;
      padding: $space-2 $space-3
    }
    .comp-btn-red {
      @extend .comp-btn;
      background: $color-red;
      color: $color-black;
      &:hover {
        background: $color-red-light;
      }
    }
    .comp-btn-grey {
      background: $color-grey-dark;
      color: $color-black;
      &:hover {
        background: $color-grey;
      }
    }
    
  // Lists
      ul {
        list-style: disc;
        margin: 0 0 20px 20px;
        li {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .no-list {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin-bottom: 0;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
      }
    .list-compact {
      
    }
    .list-default {
      margin-top: $space-2;
      margin-bottom: $space-2;
    }
    .list-sub {
      margin-top: $space-2;
      margin-bottom: 0;
    }

    ol.list-default {
      list-style-type: decimal;
      margin-left: 25px;
    }

    .list-bordered {
      list-style: none;
      margin: $space-2 0 $space-3;
      & > * {
        border-bottom: 1px solid $color-grey-dark;
        margin: 0 0 $space-2;
        padding: 0 0 $space-2;
        p {
          margin: 0;
        }
        &:last-child {
          border-bottom: 0;
          margin: 0;
          padding: 0;
        }
      }
      &.spacing-large {
        & > * {
          margin: 0 0 $space-4;
          padding: 0 0 $space-4;
          &:last-child {
            border-bottom: 0;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    .list-bordered-large {
      & > * {
        margin: 0 0 $space-3;
        padding: 0 0 $space-3;
      }
    }
  
  // Forms
    .form {
      .form-fieldset {
        margin: 0 0 $space-2;
      }
      .form-fieldset-combo {
        display: flex;
        flex-wrap: wrap;
        & > * {
          margin-bottom: 1px;
          width: 100%;
          &:last-child {
            margin-bottom: 0;
          }
        }
        @media (min-width: $mq-tablet) {
          & > * {
            margin-bottom: 0;
            margin-right: 1px;
            width: auto;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .form-fieldset-select {
        position: relative;
        &:after {
          color: $color-grey-light;
          content: "\f0d7";
          font-family: "Font Awesome 5 Pro";
          @extend .t-18;
          font-weight: 900;
          right: 30px;
          position: absolute;
          top: 55px;
          z-index: 10000;
        }
      }
      .form-fieldset-btn {
        background: transparent;
        padding: 0;
        &:hover {
          background: transparent;
        }
      }
      ::placeholder {
        color: $color-grey;
        opacity: 1;
      }
      .form-style {
        background: $color-white;
        border: 0;
        border-radius: 0;
        color: $color-black;
        font-family: $font-secondary;
        @extend .t-18;
        height: 60px;
        outline: none;
        padding: $space-1;
        -webkit-appearance: none;
      }
      .form-label {
        @extend .t-14;
        color: $color-grey-light;
        display: block;
        font-weight: 700;
        letter-spacing: .04em;
        margin: 0;
        text-transform: uppercase;
        width: 100%;
      }
      .form-input, .form-select, .form-textarea {
        @extend .form-style;
      }
      .form-select {
        cursor: pointer;
      }
      .form-textarea {
        min-height: 200px;
      }
      .input::-webkit-contacts-auto-fill-button {
        background-color: $color-white !important;
      }
    }

  // Navs
    // Sub Nav
      .site-nav-subnav {
        @include flexbox;
        @include flex-wrap(wrap);

        .site-nav-subnav-link {
          display: block;
          font-weight: $font-weight-normal;
          @extend .t-16;
          width: 100%;
        }
      }
  // Box
    .box {
      background: $color-coal;
      margin: 0 0 $space-2;
      padding: $space-3;
    }
    .pricing-box {
      @include flexbox;
      @include flex-wrap(wrap);
      align-content: center;
      align-items: center;
      & > * {
        width: 100%;
      }
      @media (min-width: $mq-tablet) {
        height: 250px;
      }
    }
    .pricing-box-header {
      margin: 0 0 $space-3;
    }

  // Blog Index
    .blog-list-ele {
      background: $color-coal;
      height: 250px;
      margin-right: 1px;
      margin-bottom: 1px;
      overflow: hidden;
      padding: $space-3;
      position: relative;
      width: auto;
      @include transition(translate);
      &:before {
        background: $color-red;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        @include translate(105%,0);
        @include transition($time: 100ms);
      }
      &:hover {
        &:before, .blog-list-inner:before {
          @include translate(0,0);
        }
      }
    }
    .blog-list-link {
      display: block;
      height: 100%;
      width: 100%;
    }
    .blog-list-content {
      position: relative;
      z-index: 10;
    }
    .blog-list-tag {
      color: rgba(255,255,255,0.3);
      @include font-size(16);
      font-weight: 700;
      text-transform: uppercase;
    }
  // Blog Content
    .blog-list-tag {
      margin-bottom: $space-1;
    }
    .site-blog-pagination.site-block {
      padding-top: $space-5;
    }
    .site-blog-article-pagination {
      padding: 0;
      a h2 {
        color: $color-red;
        &:hover {
          color: $color-red-dark;
        }
      }
    }
    .site-blog-title {
      text-align: center;
      width: 100%;
    }
    .site-blog-post {
      display: grid;
      grid-template-columns: 1fr unquote('min(80vw, 100vw)') 1fr;
      @media (min-width: $mq-laptop) {
        grid-template-columns: 1fr unquote('min(50vw, 100vw)') 1fr;
      }
      & > * {
        grid-column: 2;
      }
      .full-bleed {
        width: 100%;
        grid-column: 1 / 4;
      }
      ul {
        color: $color-grey-light;
      }
      img {
        width: 100%;
      }
      p + h2, ul + h2, blockquote + h2 {
        margin-top: $space-4;
      }
      .site-blog-post-content {
        margin: 0 0 $space-4;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .site-blog-post-content-sub {
        margin: 0 0 $space-5;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  // Code Blocks
    pre {
      margin: 0 0 $space-4 0;
    }

  // Cards
    ul.card-set, div.card-set {
      $card-border-color: $color-grey-dark;
      @include nolist;
      display: grid;
      grid-template-columns: repeat(1, minmax(280px,1fr));
      grid-auto-rows: auto;
      grid-gap: $space-2;
      grid-column-end: span 4;
      margin: 0;
      @media (min-width: $mq-tablet) {
        grid-template-columns: repeat(2, minmax(280px,1fr));
      }
      @media (min-width: $mq-wide) {
        grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
      }
      .card {
        border: 1px solid $card-border-color;
        border-radius: 8px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        width: 100%;
        & > * {
          padding: $space-2;
        }
      }
      .card-header {
        border-bottom: 1px solid $card-border-color;
        padding-top: $space-3;
        padding-bottom: $space-1;
        & > * {
          margin-bottom: 0;
        }
      }
      div.card-meta {
        border-bottom: 1px solid $card-border-color;
        @include flexbox;
        justify-content: space-between;
        div {
          @include flexbox;
          align-items: center;
        }
        span {
          @extend .t-12;
          font-weight: 700;
          letter-spacing: .02em;
          line-height: 1;
          text-transform: uppercase;
        }
      }
      span.card-meta-label {
        color: $color-grey;
      }
      .card-content {
        @include flexbox;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }

  // Projects System
  .project-system {
    margin: $space-2 0 $space-3;

    .list-bordered {
      margin-bottom: 0;
    }

    .project-box {
      background: $color-white;
      @include flexbox;
      @include flex-wrap(wrap);
      margin: 0 0 $space-3 0;
      padding: $space-2;
      position: relative;
      height: 350px;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      &:hover {
        .project-box-comp {
          box-shadow: 0 -4px 40px rgba(0,0,0,0.2);
          @include scale(1.01);
        }
        .project-box-comp--mobile {
          box-shadow: 0 0 0;
        }
      }
      @media (min-width: $mq-tablet) {
        height: 500px;
      }
    }
    .project-box-solo {
      margin-bottom: 0;
    }
    .project-box-info {
      height: 20%;
      width: 100%;
    }
    .project-box-info--title {
      color: $color-black;
      @extend .t-24;
      margin: 0 0 5px;
    }
    .project-box-info--desc {
      color: $color-gray;
      @extend .t-16;
      margin: 0;
      line-height: 1.2;
    }
    .project-box-comp {
      box-shadow: 0 -4px 20px rgba(0,0,0,0.1);
      left: 20px;
      position: absolute;
      top: 90px;
      width: 700px;
      z-index: 1;
      @include scale(1);
      @include transition();
      @media (min-width: $mq-tablet) {
        position: relative;
        width: auto;
        left: 40px;
        top: auto;
        z-index: 1;
      }
      .project-box-case--img {
        width: 100%;
      }
    }
    .project-box-comp--web {
      min-width: 350px;
      width: auto;
      @media (min-width: $mq-tablet) {
        width: auto;
      }
    }
    .project-box-comp--mobile {
      box-shadow: 0 0 0;
      left: auto;
      width: 280px;
      @media (min-width: $mq-tablet) {
        max-width: 360px;
        width: auto;
      }
    }
    .project-box-logo {
      align-items: center;
      @include flexbox;
      height: 60%;
      justify-content: center;
      position: absolute;
      @include absolute-center;
      width: 100%;
      @media (min-width: $mq-tablet) {
        height: 60%;
        width: 40%;
      }
    }
    .project-box-logo--img {
      max-width: 150px;
      width: 50%;
      @media (min-width: $mq-tablet) {
        min-width: 150px;
        max-width: 200px;
      }
      @media (min-width: $mq-laptop) {
        min-width: 150px;
        max-width: none;
      }
    }
    .project-box-action {
      align-items: flex-end;
      bottom: 0;
      @include flexbox;
      justify-content: flex-start;
      @include nolist;
      right: 0;
      position: absolute;
      z-index: 10;
    }
    .project-box-action--ele {
      background: $color-red;
      @extend .t-18;
      @include flexbox;
      align-items: center;
      margin: 0;
      white-space: nowrap;
      .disabled {
        font-weight: $font-weight-bold;
      }
    }
    .project-box-action--link {
      @extend .text-ui;
      color: $color-white;
      display: inline;
      @include transition($type:padding);
      padding: $space-2;
      &:hover {
        color: $color-white;
        padding: $space-2+1;
      }
    }

    // Project Styles
    .project-box--organicsalive {
      $c1: #c4d600;
      $c2: #222;
      $c3: $color-white;
      background: $c3;
      .project-box-info--title {
        color: $c1;
      }
      .project-box-info--desc {
        color: $c2;
      }
      .project-box-action--ele {
        background: $c1;
      }
      .project-box-action--link {
        color: $c2;
        &:hover {
          color: $c2;
        }
      }
    }
    .project-box--zelmins {
      $c1: #EBF9FB;
      $c2: #7BA3A8;
      $c3: #64D8E3;
      $c4: #222;
      background: $c1;
      .project-box-info--title {
        color: $c4;
      }
      .project-box-info--desc {
        color: $c2;
      }
      .project-box-action--ele {
        background: $c3;
      }
      .project-box-action--link {
        color: $c4;
        &:hover {
          color: $c4;
        }
      }
    }
    .project-box--lakinaturals {
      $c1: $color-white;
      $c2: #5DD2B5;
      $c3: #FE9DC5;
      $c4: #86576b;
      background: $c1;
      .project-box-info--title {
        color: $c2;
      }
      .project-box-info--desc {
        color: $c4;
      }
      .project-box-action--ele {
        background: $c3;
      }
      .project-box-action--link {
        color: $c4;
        &:hover {
          color: $c4;
        }
      }
    }
    .project-box--ssfn {
      $c1: #F64256;
      $c2: rgba(0,0,0,0.4);
      $c3: rgba(0,0,0,0.7);
      background: $c1;
      .project-box-info--desc {
        color: $c2;
      }
      .project-box-action--ele {
        background: $c3;
      }
      .project-box-action--link {
        color: $c1;
        &:hover {
          color: $c1;
        }
      }
    }
    .project-box--bbx {
      $c1: #BF891D;
      $c2: #EFCB83;
      background: #EFCB83;
      .project-box-info--title, .project-box-action--ele {
        color: darken($c1, 20%);
      }
      .project-box-info--desc {
        color: darken($c1, 10%);
      }
      .project-box-action--ele {
        background: $c1;
      }
      .project-box-action--link {
        color: $c2;
        &:hover {
          color: $c2;
        }
      }
    }
    .project-box--forcesunite {
      $c1: $color-black;
      $c2: rgba(0,0,0,0.4);
      $c3: $color-white;
      background: #fff;
      .project-box-info--title, .project-box-action--link {
        color: $c1;
      }
      .project-box-info--desc {
        color: $c2;
      }
    }
    .project-box--versa {
      $c1: $color-white;
      $c2: rgba(255,255,255,0.5);
      $c3: #007BFF;
      background: $c3;
      .project-box-info--desc, .project-box-action--ele {
        color: $c1;
      }
      .project-box-action--ele {
        background: $c3;
      }
      .project-box-action--link {
        color: $c1;
        &:hover {
          color: $c1;
        }
      }
    }
    .project-box--myfdtps {
      $c1: #6FB3EB;
      $c2: #1766A9;
      $c3: #222A36;
      background: $c2;
      .project-box-info--title {
        color: $color-white;
      }
      .project-box-info--desc {
        color: $c1;
      }
      .project-box-action--ele {
        background: $c2;
      }
      .project-box-action--link {
        color: $color-white;
      }
    }
    .project-box--ifyb {
      $c1: #FFCE01;
      $c2: #234F6A;
      background: $c2;
      .project-box-info--title {
        color: $color-white;
      }
      .project-box-info--desc {
        color: $c1;
      }
      .project-box-action--ele {
        background: $c1;
      }
      .project-box-action--link {
        color: $c2;
        &:hover {
          color: $c2;
        }
      }
    }
    .project-box--sensory {
      $c: #BF891D;
      background: url('../img/projects/bg-sensory.jpg') no-repeat center;
      .project-box-info--desc {
        color: $c;
      }
      .project-box-action--ele {
        color: $c;
      }
      .project-box-action--link {
        border-color: $c;
        color: $c;
        &:hover {
          color: lighten($c,10%);
          border-color: lighten($c,10%);
        }
      }
    }
    .project-box--hyrecar {
      $c1: $color-white;
      $c2: #FC6349;
      background: $c2;
      .project-box-info--title {
        color: $c1;
      }
      .project-box-info--desc {
        color: $c1;
      }
      .project-box-action--ele {
        background: $c2;
      }
      .project-box-action--link {
        color: $c1;
        &:hover {
          color: $c1;
        }
      }
    }
    .project-box--gigmor {
      $c1: #FDD8D2;
      $c2: #E34B2A;
      background: $c2;
      .project-box-info--title {
        color: $color-white;
      }
      .project-box-info--desc {
        color: $c1;
      }
      .project-box-action--ele {
        background: $c1;
      }
      .project-box-action--link {
        color: $c2;
        &:hover {
          color: $c2;
        }
      }
    }
    .project-box--sbt {
      $c1: #D7E5FD;
      $c2: #2D5BA7;
      background: $c2;
      .project-box-info--title {
        color: $color-white;
      }
      .project-box-info--desc {
        color: $c1;
      }
      .project-box-action--ele {
        background: $c1;
      }
      .project-box-action--link {
        color: $c2;
        &:hover {
          color: $c2;
        }
      }
    }
    .project-box--ronfinley {
      $c1: #5C5B19;
      $c2: #DBD83C;
      $c3: #ffaa01;
      $c4: $color-white;
      background: $c2;
      .project-box-info--desc {
        color: $c1;
      }
      .project-box-action--ele {
        background: $c3;
      }
      .project-box-action--link {
        color: $c4;
        &:hover {
          color: $c4;
        }
      }
    }
    .project-box--newscrack {
      $c: #FFF;
      background: #475C7A;
      .project-box-info--desc {
        color: #A4A4B3;
      }
      .project-box-action--ele {
        color: $c;
      }
      .project-box-action--link {
        border-color: $c;
        color: $c;
        &:hover {
          color: darken($c,10%);
          border-color: darken($c,10%);
        }
      }
    }
    .project-box--buzzhoney {
      $c: #FFF;
      background: #1A1204;
      .project-box-info--desc {
        color: #A4A4B3;
      }
      .project-box-action--ele {
        color: $c;
      }
      .project-box-action--link {
        border-color: $c;
        color: $c;
        &:hover {
          color: darken($c,10%);
          border-color: darken($c,10%);
        }
      }
    }
  }