// _design.scss
  .index {
    background: url('../img/bg-sound-project-higher-trans.jpg') no-repeat center top $color-black;
    background-size: cover;
    font-family: $font-reg;
    font-size: 1em;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
      background: $color-black-50;
      background: -webkit-linear-gradient(180deg, $color-black-20 50%, $color-black 100%);
      background: -moz-linear-gradient(180deg, $color-black-20 50%, $color-black 100%);
      background: -o-linear-gradient(180deg, $color-black-20 50%, $color-black 100%);
      background: linear-gradient(180deg, $color-black-20 50%, $color-black 100%);
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;
    } 
    &:after {
      background: $color-black;
      bottom: 0;
      content: "";
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 2;
      @include animation(bgFadeIn 5s 1 cubic-bezier(.14, .62, .39, 1) forwards);
      opacity: 0;
    }
    .site-header {
      @extend .no-border;
      @extend .bg-black;
      @extend .bg-black-50;
    }
  }

// Work Index
  .work-row {
    margin-bottom: 0;
    @media (min-width: $mq-medium) {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .work-setup {
    height: 204px;
    margin-bottom: 20px;
    @media (min-width: $mq-small) {
      height: 300px;
    }
    &.work-height-1 {
      @media (min-width: $mq-medium) {
        height: 285px;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    &.work-height-2 {
      @media (min-width: $mq-medium) {
        height: 600px;
        .work-setup-title {
          font-size: 4.0em;
        }
      }
    }
  }
  .work-setup-ele {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .work-setup-text {
    padding: 0 10px;
    position: absolute;
    right: 0px;
    width: 50%;
    z-index: 10;
    @include vertical-center;
    @media (min-width: $mq-small) {
      padding: 0 20px;
    }
    @media (min-width: $mq-medium) {
      bottom: 40px;
      left: 40px;
      right: auto;
      top: auto;
      width: 60%;
      @include translate(0,0);
      &.pull-center {
        @include absolute-center;
        bottom: auto;
        text-align: center;
        .work-setup-title:after {
          @include horizontal-center;
        }
      }
      &.pull-right {
        left: auto;
        right: 40px;
      }
      &.vert-center {
        @include vertical-center;
        bottom: auto;
      }
      &.size-large {
        width: 60%;
      }
    }
    @media (min-width: $mq-large) {
      width: 50%;
    }
  }
  .work-setup-title {
    display: block;
    font-size: 1.4em;
    position: relative;
    &:after {
      background: $color-white;
      bottom: -20px;
      content: "";
      height: 5px;
      left: 2px;
      margin: 0;
      position: absolute;
      width: 33px;
    }
    @media (min-width: $mq-small) {
      font-size: 1.8em;
    }
    @media (min-width: $mq-medium) {
      font-size: 2.4em;
    }
  }
  .work-setup-type {
    color: $color-white;
    display: block;
    font-family: $font-reg;
    margin: 30px 0 10px;
    @media (min-width: $mq-medium) {
      margin: 40px 0 20px;
    }
  }
  .work-setup-action {
    border: 5px solid $color-white;
    border-radius: 20px;
    color: $color-white;
    display: inline-block;
    font-family: $font-bold;
    font-size: 0.7em;
    line-height: 1;
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    @include transition;
    @include scale(1);
    &:hover {
      background: $color-white;
      color: $color-black;
      text-decoration: none;
      @include scale(1.1);
    }
    @media (min-width: $mq-small) {
      font-size: 1.0em;
    }
    @media (min-width: $mq-medium) {
      font-size: 1.2em;
    }
  }
  .work-setup-img {
    background-color: $color-black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    @media (min-width: $mq-medium) {
      &.push-left {
        background-position: left;
      }
      &.push-center {
        background-position: center;
      }
      &.push-right {
        background-position: right;
      }
    }
    img {
      width: 100%;
    }
  }

  #work-ronfinley {
    &:hover {
      .work-setup-img {
        @media (min-width: $mq-medium) {
          @include scale(1.1);
        }
      }
      .work-setup-img:after {
        @media (min-width: $mq-medium) {
          @include transform(rotate(5deg) scale(1.3));
        }
      }
    }
    .work-setup-text {
      @extend .pull-right;
    }
    .work-setup-img {
      @extend .push-left;
      background-image: url('../img/work-setup-img-ronfinley-small.png'); 
      @media (min-width: $mq-medium) {
        background-image: url('../img/work-setup-img-ronfinley-2.png');
        @include transition;
        @include scale(1);
        position: relative;
        &:after {
          background: url('../img/work-setup-img-ronfinley-bg.svg') no-repeat bottom right;
          content: "";
          height: 100%;
          right: 0;
          opacity: 0.8;
          position: absolute;
          top: 0;
          width: 100%;
          @include transition;
          @include transform(rotate(0) scale(1));
        }
      }
    }
  }
  #work-higher {
    .work-setup-text {
    }
    .work-setup-img {
      background-image: url('../img/work-setup-img-higher-small.png'); 
      @media (min-width: $mq-medium) {
        @extend .push-right;
        background-image: url('../img/work-setup-img-higher-2.png');
      }
    }
  }
  #work-newscrack {
    .work-setup-text {
    }
    .work-setup-img {
      background-image: url('../img/work-setup-img-newscrack-small.png'); 
      @media (min-width: $mq-medium) {
        @extend .push-left;
        background-image: url('../img/work-setup-img-newscrack-2.png');
      }
    }
  }
  #work-sbt {
    .work-setup-text {
      @media (min-width: $mq-medium) {
        @extend .pull-center;
      }
    }
    .work-setup-img {
      background-image: url('../img/work-setup-img-sbt-small.png'); 
      @media (min-width: $mq-medium) {
        @extend .push-center;
        background-image: url('../img/work-setup-img-sbt-2.png');
      }
    }
  }
  #work-freewaynights {
    .work-setup-text {
      @media (min-width: $mq-medium) {
        @extend .pull-right;
        @extend .vert-center;
      }
    }
    .work-setup-img {
      background-image: url('../img/work-setup-img-freewaynights-small.png'); 
      @media (min-width: $mq-medium) {
        @extend .push-left;
        background-image: url('../img/work-setup-img-freewaynights-2.png');
      }
    }
  }
  #work-jeaninemckirnan {
    .work-setup-text {
      @media (min-width: $mq-medium) {
        @extend .vert-center;
      }
    }
    .work-setup-img {
      background-image: url('../img/work-setup-img-jm-small.png'); 
      @media (min-width: $mq-medium) {
        @extend .push-right;
        background-image: url('../img/work-setup-img-jm-2.png');
      }
    }
  }
  #work-mercedehallen {
    &:hover {
      .work-setup-img {
        @media (min-width: $mq-medium) {
          @include scale(1.1);
        }
      }
      .work-setup-img:after {
        @media (min-width: $mq-medium) {
          @include transform(rotate(-5deg) scale(1.2));
        }
      }
    }
    .work-setup-text {
      @media (min-width: $mq-medium) {
        @extend .vert-center;
      }
    }
    .work-setup-img {
      background-image: url('../img/work-setup-img-mallen-small.png');  
      @media (min-width: $mq-medium) {
        @include scale(1);
        @include transition;
        @extend .push-center;
        background-image: url('../img/work-setup-img-mallen-2.png');
        position: relative;
        &:after {
          background: url('../img/work-setup-img-mallen-bg.svg') no-repeat;
          content: "";
          height: 100%;
          left: 0;
          opacity: 0.8;
          position: absolute;
          top: 0;
          width: 100%;
          @include transition;
          @include transform(rotate(0) scale(1));
        }
      }
    }
  }

// Work Contact
  .site-contact {
    min-height: 650px;
    p:first-child {
      padding-top: 0;
    }
  }

// New Work CSS
  