// _design.scss

// Work Index
  .work-setup-ele {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .work-setup-title {
    display: none;
    bottom: 20px;
    left: 20px;
    position: absolute;
    z-index: 10;
    h3 {
      margin: 0;
    }
  }
  .work-setup-img {
    background-color: $color-black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    &.push-left {
      background-position: left;
    }
    &.push-center {
      background-position: center;
    }
    &.push-right {
      background-position: right;
    }
    img {
      // display: none;
      // height: 100%;
      // opacity: 0.5;
      width: 100%;
    }
  }
  .work-row {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

// Work Contact
  .site-contact {
    min-height: 650px;
  }

// New Work CSS
  .work-height-1 {
    height: 285px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .work-height-2 {
    height: 600px;
  }