// Icons
  .icon-bars {
    align-items: center;
    background: transparent;
    cursor: pointer;
    display: flex;
    height: 24px;
    // overflow: hidden;
    position: relative;
    width: 30px;
    @include transition();
    span {
      background: $color-white;
      height: 4px;
      width: 30px;
      opacity: 1;
      @include transition();
    }
    &:before {
      background: $color-white;
      content: "";
      height: 4px;
      width: 30px;
      position: absolute;
      top: 0;
      transform: rotate(0deg);
      @include transition();
    }
    &:after {
      background: $color-white;
      content: "";
      height: 4px;
      width: 30px;
      position: absolute;
      bottom: 0px;
      transform: rotate(0deg);
      @include transition();
    }
  }
  .menuOpen {
    .icon-bars {
      &:before {
        transform: rotate(45deg);
        top: 9px;
        left: 0px;
      }
      span {
        opacity: 0;
      }
      &:after {
        transform: rotate(-45deg);
        top: 9px;
        left: 0px;
      }
    }
  }