// _photos.scss

// Photos Styles
  .projects_photos {
    @include theme-light;

    &.mbp-player-active {
      .site-wrapper {
        margin-bottom: 80px;
      }
      .mbp-player {
        @include translate(0,0);
      }
    }
    .site-wrapper {
      height: auto;
    }
    .site-header-logo {
      @include animation(lavalamp 60s $timing 10s normal infinite forwards);
      &:hover {
        @include animation(lavalamp 400ms $timing 0s normal infinite forwards);
      }
    }
  }
  .site-photos {
    background: $color-white;
  }
  .photo-ele {
    background: $color-grey-l4;
    height: 50vh;
    margin: 0 0 30px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    &:after {
      background: url('../img/mbp-logo-bw.svg') no-repeat center;
      background-size: 10%;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      @include animation(ppPulse 1s $timing infinite alternate);
    }
    img {
      height: auto;
      position: absolute;
      height: 100%;
      width: auto;
      z-index: 10;
      @include absolute-center;
      @media (min-width: $mq-medium) {
        height: auto;
        width: 100%;
      }
    }
  }
  $ph: 828px;
  .photo-ele-x1 {
    @media (min-width: $mq-medium) {
      height: 276px;
    }
  }
  .photo-ele-x2 {
    @media (min-width: $mq-medium) {
      height: 582px;
    }
  }
  .photo-ele-x3 {
    @media (min-width: $mq-medium) {
      height: $ph;
    }
  }