// _sound.scss

// Sound Styles
  .index {
    .site-header {
      @extend .no-border;
      @extend .bg-black;
      @extend .bg-black-50;
    }
  }
  .projects_sounds {
    .site-header {
      @extend .bg-white;
      @extend .no-border;
    }
    .site-header-logo {
      @include animation(lavalamp 60s $timing 10s normal infinite forwards);
      &:hover {
        @include animation(lavalamp 400ms $timing 0s normal infinite forwards);
      }
    }
    .site-header:after {
      background: $color-grey-l3;
    }
    .site-hero {
      @extend .bg-white;
      @extend .text-dark;
    }
  }
  .site-sounds {
    background: $color-white;
  }
  .sound-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .sound-set {
    $border-color: $color-grey-l4;
    background: $color-white;
    cursor: pointer;
    margin: 0 0 10px 0;
    padding: 0px;
    &:hover {
      z-index: 100;
      .sound-title {
        color: $color-red;
      }
    }
    &.active {
      .sound-control-play {
        background: url('../img/icon-pause.svg') no-repeat center;
        background-size: 40%;
      }
    }
    [class^="container-"] {
      // border: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
    [class^="sound-control-"] {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  .sound-title, .sound-control-play, .sound-control-download {
    display: block;
    padding: 20px 0;
    font-size: 3em;
  }
  .sound-title {
    font-family: $font-reg;
    font-size: 3em;
  }
  .sound-control-play {
    background: url('../img/icon-play.svg') no-repeat center;
    background-size: 40%;
    // width: 24px;
    height: 90px;
  }
  .sound-control-download {
    position: relative;
    &:after {
      background: $color-black;
      bottom: 20px;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      width: 80%;
      @include horizontal-center;
      @include transition;
    }
    &:hover {
      &:after {
        width: 40%
      }
      i {
        @include translate(0,10px)
      }
    }
    i {
      @include translate(0,0);
      @include transition;
    }
  }
  .mbp-player {
    background: $color-red;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    bottom: 0;
    height: 80px;
    left: 0;
    padding: 25px 0;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }
  .mbp-player-current {
    color: $color-white;
    font-size: 1.3em;
    padding: 5px 0;
    text-align: right;
    width: 100%;
  }
  .mbp-player-download {
    .sound-control-download {
      color: $color-white;
      font-size: 1.6em;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 50px;
      &:after {
        bottom: 0;
      }
      &:hover {
        i {
          @include translate(0,4px)
        }
      }
    }
  }
