// Style Guide Styles
  .styleguide {
    @include theme-light;

    .styleguide-setup {
      border-left: 10px solid $color-grey-l4;
      margin: 0 0 40px 2px;
      padding-left: 20px;
    }

    .site-footer {
      display: none;
    }
  }