// _themes.scss

// Theme Background
  .theme-background {
    background: $color-black;

    .site-masthead, .site-hero, .site-section {
      background: $color-black-50;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      color: $color-white;
    }

    .site-header {
      h1, h2, h3, h4, h5, h6 {
        color: $color-white;
      }
      p {
        color: $color-grey-light;
      }
    }
    a {
      color: $color-red;
      font-weight: 700;
      &:hover {
        color: $color-red-light;
      }
    }
    .crumbs {
      color: $color-white;
    }
    .section-content-checklist-ele {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .site-masthead-nav-link a {
      color: $color-white;
      &:hover {
        color: darken($color-white,10%);
      }
    }
  }

// Theme Black
  .theme-black {
    background: $color-black;
    
    .site-masthead, .site-hero, .site-section {
      background: $color-black-50;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      color: $color-white;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $color-white;
    }
    p, li, span {
      color: $color-grey-light;
    }
    .sub-title {
      color: $color-white;
    }
    a {
      color: $color-red;
      font-weight: 700;
      &:hover {
        color: lighten($color-red,10%);
      }
    }
    .highlight {
      color: $color-white;
    }
    .crumbs {
      color: $color-white;
    }
    .faq-question {
      color: $color-white;
    }
    .faq-answer {
      color: $color-white;
    }
    .section-content-checklist-ele {
      border-bottom: 1px solid $color-white;
    }
    .site-masthead-nav-link a {
      color: $color-white;
      &:hover {
        color: darken($color-white,10%);
      }
    }
  }

// Theme Red
  .theme-red {
    background: $color-red-dark;
    .masthead-logo {
      -webkit-filter: brightness(3);
      filter: brightness(3);
    }
    a {
      color: $color-white;
      &:hover {
        color: darken($color-white,10%);
      }
    }
    .site-nav {
      background: $color-red;
      .site-nav-link {
        color: $color-black-50;
        &:hover {
          color: $color-black;
        }
      }
    }

    .comp-btn-red {
      background: $color-red-dark;
      color: $color-red-light;
      &:hover {
        background: $color-black;
        color: $color-red-light;
      }
    }
    .headline, h1, h2, h3, h4, h5, h6, .large {
      color: $color-black;
    }
    .site-footer, .ordered-list li {
      color: darken($color-red-dark,15%);
    }
    .sub-box {
      border: 4px solid $color-red-dark;
      border-left: 0;
      border-right: 0;
    }
    .sub-box-input {
      background: $color-red-light;
      box-shadow: inset 0 -4px 0 $color-red-dark;
      color: $color-red-dark;
      &:last-child {
        box-shadow: inset 0 0 0 $color-red-dark;
      }
      @media (min-width: $mq-laptop) {
        box-shadow: inset 4px 0 0 $color-red-dark;
      }
      @include placeholder {
        color: $color-red;
      }
      &:hover {
        background: lighten($color-red-light,5%);
      }
    }
    .sub-box-submit {
      background: $color-red-dark;
      color: $color-red-light;
      &:hover {
        background: $color-black;
      }
    }
  }

// Theme White
  .theme-white {
    background: $color-white;
    color: $color-black;

    .site-masthead, .site-hero, .site-section {
      background: $color-white;
      border-bottom: 1px solid $color-grey-light;
      color: $color-black;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $color-black;
    }
    p, ul, li, div, .form-field-label {
      color: $color-grey-dark;
    }
    a {
      color: $color-red;
    }

    .site-masthead {
      &:after {
        background: $color-grey;
      }
    }
    .site-masthead-nav-list {
      border-top: 1px solid $color-grey-light;
      @media (min-width: $mq-tablet) {
        border-top: 0 solid $color-grey-light;
        border-left: 1px solid $color-grey-light;
      }
    }
    .site-masthead-nav-link {
      border-bottom: 1px solid $color-grey-light;
      border-right: 1px solid $color-grey-light;
      a {
        color: $color-black;
        @include transition;
        &:hover {
          color: $color-red;
        }
      }
    }
    .site-hero-text {
      h1, h2, h3, .word, {
        color: $color-black;
      }
      .connector, .sub {
        color: $color-grey-light;
      }
    }
    .site-masthead-logo {
      a {
        -webkit-filter: invert(0);
        -moz-filter: invert(0);
        filter: invert(0);
      }
    }
  }
