// _themes.scss

// Theme Dark
  .theme-black {
    background: $color-black;
    a {
      color: $color-white;
      font-weight: 700;
      &:hover {
        color: darken($color-white,10%);
      }
    }
    .site-hero-text {
      h1, h2, h3, .word, {
        color: $color-white;
      }
      .connector, .sub {
        color: $color-grey-l3;
      }
    }
    .faq-question {
      color: $color-white;
    }
    .faq-answer {
      color: $color-white;
    }
    .section-content-checklist-ele {
      border-bottom: 1px solid $color-white;
    }
    .site-header-nav-link a {
      &:hover {
        color: darken($color-white,10%);
      }
    }
  }

// Theme Red
  .theme-red {
    background: $color-red;
    a {
      color: $color-white;
      font-weight: 700;
      &:hover {
        color: darken($color-white,10%);
      }
    }
    .site-hero-text {
      h1, h2, h3, .word, {
        color: $color-white;
      }
      .connector, .sub {
        color: $color-grey-l4;
      }
    }
    .faq-question {
      color: $color-red-d3;
    }
    .faq-answer {
      color: $color-red-l4;
    }
    .section-content-checklist-ele {
      border-bottom: 1px solid $color-red-d2;
    }
    .site-header-nav-link a {
      &:hover {
        color: darken($color-white,10%);
      }
    }
  }

// Theme Light
  .theme-white {
    background: $color-white;
    color: $color-black;
    h1, h2, h3 {
      color: $color-black;
    }
    h4, h5, h6 {
      color: $color-grey-l2;
    }
    p, .form-field-label {
      color: $color-grey-d3;
    }
    a {
      color: $color-red;
    }
    .site-header {
      @extend .bg-white;
      @extend .no-border;
      border-bottom: 1px solid $color-grey-l4;
      &:after {
        background: $color-grey-l3;
      }
    }
    .site-header-nav-list {
      border-top: 1px solid $color-grey-l4;
      @media (min-width: $mq-small) {
        border-top: 0 solid $color-grey-l4;
        border-left: 1px solid $color-grey-l4;
      }
    }
    .site-header-nav-link {
      border-bottom: 1px solid $color-grey-l4;
      border-right: 1px solid $color-grey-l4;
      a {
        color: $color-black;
        @include transition;
        &:hover {
          color: $color-red;
        }
      }
    }
    .site-hero {
      @extend .bg-white;
      @extend .text-dark;
    }
    .site-hero-text {
      h1, h2, h3, .word, {
        color: $color-black;
      }
      .connector, .sub {
        color: $color-grey-l2;
      }
    }
    
  }