// _type.scss
  body {
    @include font-size(12);
    font-family: $font-reg;
    line-height: 1.5;
    @media (min-width: $mq-tablet) {
      @include font-size(12);
    }
  }

  // Type System
    .t-120 {
      @include font-size(96);
      @media (min-width: $mq-phonexl) {

      }
      @media (min-width: $mq-tablet) {
        @include font-size(120);
      }
    }
    .t-96 {
      @include font-size(64);
      @media (min-width: $mq-ip6p) {
        @include font-size(72);
      }
      @media (min-width: $mq-phonexl) {
        @include font-size(81);
      }
      @media (min-width: $mq-tablet) {
        @include font-size(96);
      }
    }
    .t-81 {
      @include font-size(56);
      @media (min-width: $mq-ip6p) {
        @include font-size(64);
      }
      @media (min-width: $mq-phonexl) {
        @include font-size(72);
      }
      @media (min-width: $mq-tablet) {
        @include font-size(81);
      }
    }
    .t-72 {
      @include font-size(64);
      @media (min-width: $mq-tablet) {
        @include font-size(72);
      }
    }
    .t-64 {
      @include font-size(56);
      @media (min-width: $mq-tablet) {
        @include font-size(64);
      }
    }
    .t-56 {
      @include font-size(48);
      @media (min-width: $mq-tablet) {
        @include font-size(56);
      }
    }
    .t-48 {
      @include font-size(36);
      @media (min-width: $mq-tablet) {
        @include font-size(48);
      }
    }
    .t-36 {
      @include font-size(32);
      @media (min-width: $mq-tablet) {
        @include font-size(36);
      }
    }
    .t-32 {
      @include font-size(28);
      @media (min-width: $mq-tablet) {
        @include font-size(32);
      }
    }
    .t-28 {
      @include font-size(24);
      @media (min-width: $mq-tablet) {
        @include font-size(28);
      }
    }
    .t-24 {
      @include font-size(18);
      @media (min-width: $mq-tablet) {
        @include font-size(24);
      }
    }
    .t-18 {
      @include font-size(16);
      @media (min-width: $mq-tablet) {
        @include font-size(18);
      }
    }
    .t-16 {
      @include font-size(14);
      @media (min-width: $mq-tablet) {
        @include font-size(16);
      }
    }
    .t-14 {
      @include font-size(14);
      @media (min-width: $mq-tablet) {
        @include font-size(14);
      }
    }
    .t-12 {
      @include font-size(10);
      @media (min-width: $mq-tablet) {
        @include font-size(12);
      }
    }
    .t-10 {
      @include font-size(8);
      @media (min-width: $mq-tablet) {
        @include font-size(10);
      }
    }
    .t-light {
      font-weight: 300;
    }
    .t-normal {
      font-weight: 400;
    }
    .t-book {
      font-weight: 500;
    }
    .t-bold {
      font-weight: 700;
    }

  // Links
    a {
      color: $color-red;
      font-weight: 700;
      text-decoration: none;
      &:hover {
        color: $color-red-light;
        text-decoration: none;
      }
    }

  // Paragraphs
    p, ul, li {
      font-family: $font-reg;
      @extend .t-16;
      line-height: 180%;
      margin-bottom: $space-2;

      & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
        padding-top: $space-2;
      }

    }

    .small {
      @extend .t-12;
    }
    .normal {
      @extend .t-16;
    }
    .large {
      @extend .t-24;
      line-height: 150%;
    }
    .mixed-size {
      line-height: 1.2;
    }

  // Headers
    h1, h2, h3, h4, h5, h6 {
      display: block;
      font-family: $font-reg;
      font-weight: 500;
      margin: 0 0 $space-2;
      line-height: 1.1;
    }

    .headline {
      @extend .t-81;
    }
    .hero-headline {
      @extend .t-56;
      @media (min-width: $mq-tablet) {
        @include font-size(96);  
      }
    }
    .blog-headline {
      text-align: center;
      @extend .t-56;
      @media (min-width: $mq-tablet) {
        @include font-size(120);  
      }
    }
    
    h1 {
      @extend .t-64;
    }

    h2 {
      @extend .t-48;
      & + h3 {
        padding-top: $space-2;
      }
    }

    h3 {
      @extend .t-36;
    }

    h4 {
      @extend .t-24;
    }

    h5 {
      @extend .t-18;
    }

    

  // Site Headers
    .site-header {
      p {
        // @extend .caps-reg;
        @include font-size(18);
        letter-spacing: .02rem;
        margin: 2rem 0 0 0;
        text-align: center;
        @media (min-width: $mq-tablet) {
          @include font-size(24);
        }
      }
    }
    .sub-title {
      color: $color-white;
      font-weight: 700;
    }

  // Type Sets
    .caps-light {
      font-weight: 300;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
    .caps-reg {
      font-weight: 400;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
    .caps-bold {
      font-weight: 700;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }

  // Blockquotes
    blockquote {
      p {
        font-family: $font-secondary;
        @include font-size(40);
        font-style: italic;
        font-weight: 700;
      }
    }

  // Lists
    ul {
      list-style: disc;
      margin: 0 0 20px 20px;
      li {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .no-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    strong {
      font-weight: 700;
    }

  // Nav Links
    .site-header-nav-link a {
      @include font-size(16);
      font-weight: bold;
      @media (min-width: $mq-tablet) {
        font-size: 1.8rem;
      }
    }

  // Forms
    .form-field-label {
      @include font-size(16);
      font-weight: 300;
    }

    .sub-text {
      @include font-size(14);
      font-weight: 300;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }

  // Disabled
    .disabled {
      color: rgba(0,0,0,0.3) !important;
      cursor: not-allowed;
    }
    .link-disabled  {
      @extend .t-bold;
      margin: 0;
      cursor: not-allowed;
      opacity: 0.3;
    }