// _type.scss

@font-face {
  font-family: DinPro-Regular;
  src: url("../fonts/DINPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: DinPro-Bold;
  src: url("../fonts/DINPro-Bold.otf") format("opentype");
}

h1, h2, h3, h4, h5, h6 {
  color: $color-white;
  margin: 0 0 20px;
}

h1 {
  font-size: 2.0em;
  font-family: $font-bold;
  line-height: 1.3;
  @media (min-width: $mq-small) {
    font-size: 3.0em;
    line-height: 1.3;
  }
  .sub {
    color: $color-white;
    display: block;
    font-size: 0.5em;
    font-family: $font-reg;
    line-height: 1.5;
  }
}

h2 {
  color: $color-grey-l3;
  font-family: $font-reg;
  font-size: 1.0em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h3 {
  font-family: $font-bold;
  font-size: 2.4em;
  letter-spacing: 0.04em;
}

p {
  color: $color-white;
  font-family: $font-reg;
  font-size: 1.2em;
  // letter-spacing: 0.04em;
  line-height: 1.5;
  margin: 0 0 20px 0;
}

strong {
  font-family: $font-bold;
}

.form-field-label {
  color: $color-white;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.sub-text {
  color: $color-grey-l3;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}