// _type.scss
  body {
    @include font-size(12);
    font-family: $font-reg;
    line-height: 1.5;
    @media (min-width: $mq-small) {
      @include font-size(12);
    }
  }

  // Paragraphs
    p, ul, li {
      font-family: $font-reg;
      @include font-size(24);
      margin-bottom: $space-1;
      & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
        margin-top: $space-1;
      }
      @media (min-width: $mq-small) {
        @include font-size(24);
        &.paragraph-large {
          @include font-size(36);
        }
      }
    }
    
  // Headers
    h1, h2, h3, h4, h5, h6 {
      display: block;
      font-family: $font-reg;
      font-weight: 700;
      margin: 0 0 1rem;
      // line-height: 1.2;
    }

    h1 {
      @include font-size(48);
      font-weight: 700;
      line-height: 1.1;
      // text-transform: uppercase;
      @media (min-width: $mq-small) {
        @include font-size(128);
      }
    }

    h2 {
      @include font-size(32);
      font-weight: 700;
      @media (min-width: $mq-small) {
        @include font-size(48);
      }
    }

    h3 {
      @include font-size(24);
      @media (min-width: $mq-small) {
        @include font-size(32);
      }
    }

    h4 {
      @include font-size(18);
      @media (min-width: $mq-small) {
        @include font-size(24);
      }
    }

    h5 {
      @include font-size(14);
      text-transform: uppercase;
      @media (min-width: $mq-small) {
        @include font-size(18);
      }
    }

    h6 {
      @include font-size(10);
      text-transform: uppercase;
      @media (min-width: $mq-small) {
        @include font-size(14);
      }
    }

  // Site Headers
    .site-header {
      p {
        // @extend .caps-reg;
        @include font-size(18);
        letter-spacing: .02rem;
        margin: 2rem 0 0 0;
        text-align: center;
        @media (min-width: $mq-small) {
          @include font-size(24);
        }
      }
    }
    .sub-title {
      color: $color-white;
      font-weight: 700;
    }

  // Type Sets
    .caps-light {
      font-weight: 300;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
    .caps-reg {
      font-weight: 400;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
    .caps-bold {
      font-weight: 700;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }

  // Blockquotes
    blockquote { 
      p {
        font-family: $font-secondary;
        @include font-size(40);
        font-style: italic;
        font-weight: 700;
      }
    }

  // Lists
    ul {
      list-style: disc;
      margin: 0 0 20px 20px;
      li {
        // @include font-size(24);
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .no-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    strong {
      font-weight: 700;
    }

  // Nav Links
    .site-header-nav-link a {
      @include font-size(16);
      font-weight: bold;
      @media (min-width: $mq-small) {
        font-size: 1.8rem;
      }
    }

  // Forms
    .form-field-label {
      @include font-size(16);
      font-weight: 300;
    }

    .sub-text {
      @include font-size(14);
      font-weight: 300;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }