// _type.scss

h1, h2 {
  color: $color-white;
  font-family: $font-reg;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px;
}

h3, h4, h5, h6 {
  color: $color-white;
  font-family: $font-reg;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 10px;
}

h1 {
  font-size: 2.0em;
  @media (min-width: $mq-small) {
    font-size: 3.6rem;
  }
  .sub {
    color: $color-white;
    display: block;
    font-size: 0.5em;
    font-family: $font-reg;
    line-height: 1.5;
  }
}

h2 {
  // color: $color-grey-l3;
  font-size: 1.5em;
  @media (min-width: $mq-small) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.0em;
  @media (min-width: $mq-small) {
    font-size: 2.1rem;
  }
}

h4 {
  font-size: 0.8em;
  text-transform: uppercase;
  @media (min-width: $mq-small) {
    font-size: 1.8rem;
  }
}

p {
  color: $color-white;
  font-family: $font-reg;
  font-size: 1.8rem;
  // letter-spacing: 0.04em;
  line-height: 1.5;
  margin: 0 0 20px 0;

  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 40px;
  }
}

blockquote { 
  p {
    font-family: $font-secondary;
    font-size: 4.0rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.1;
  }
}

ul {
  list-style: disc;
  margin: 0 0 0 20px;
  li {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
    margin-top: 40px;
  }
}

.form-field-label {
  color: $color-white;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.sub-text {
  color: $color-grey-l3;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}