// Utilities
  .img-frame {
    // @include flexbox;
    // align-items: flex-end;
    // justify-content: center;
    padding: $space-2 0;
    width: 100%;
    @media (min-width: $mq-tablet) {
      padding: $space-2 0;
    }
    @media (min-width: $mq-laptop) {
      padding: $space-4 $space-4;
    }
  }
  .img-frame-image {
    width: 100%;
  }
  .img-frame-flex-end {
    @include flexbox;
    height: 100%;
    align-items: flex-end;
  }
  .img-frame-flex-right {
    @include flexbox;
    height: 100%;
    justify-content: flex-end;
  }
  .img-frame-flex-img-125 {
    img {
      width: 125%;
    }
  }
  .img-frame-caption {
    color: $color-white;
    @extend .t-bold;
    @extend .t-18;
  }
  .img-frame--black {
    background: $color-black;
    box-shadow: -$space-4 0 0 $color-black, $space-4 0 0 $color-black;
  }
  .img-frame--coal {
    background: $color-coal;
    box-shadow: -$space-4 0 0 $color-coal, $space-4 0 0 $color-coal;
  }
  .img-frame--slate {
    background: $color-slate;
    box-shadow: -$space-4 0 0 $color-slate, $space-4 0 0 $color-slate;
  }