// _variables.scss

  $retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

// Type
  $font-reg: "HelveticaNeueLTStd-LtEx", "HelveticaNeueLightExtended", "HelveticaNeue-Light-Extended", "Helvetica Neue Light Extended", "Helvetica Neue Light", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Arial", sans-serif;
  $font-secondary: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  
  $font-weight-light: 300;
  $font-weight-normal: 400;
  $font-weight-bold: 700;

// Colors
  $color-black:       #1D1D21;
  $color-coal:        #28282e;
  $color-slate:       #403E47;
  $color-white:       #fff;

  $color-grey:        #6F6F80;
  $color-gray:        $color-grey;
  $color-grey-light:  #A4A4B3;
  $color-gray-light:  $color-grey-light;
  $color-grey-dark:   #3F3F4D;
  $color-gray-dark:   $color-grey-dark;

  $color-red:         #E84C5C;
  $color-red-light:   #FF6E7C;
  $color-red-dark:    #CF303F;

  $color-black-20:    rgba(30, 30, 34, .2);
  $color-black-50:    rgba(30, 30, 34, .5);

// Margins & Paddings
  $space-1:           1rem;
  $space-2:           2rem;
  $space-3:           4rem;
  $space-4:           8rem;
  $space-5:           16rem;

// Media Queries
  // @media (min-width: $mq-tablet) {}
  $mq-ip5:            321px;
  $mq-ip6:            375px;
  $mq-ip6p:           414px;
  $mq-phonexl:        576px;
  $mq-tablet:         768px;
  $mq-laptop:         992px;
  $mq-desktop:        1200px;
  $mq-wide:           1400px;

// Animations & Transitions
  $timing:            cubic-bezier(.14, .62, .39, 1);

  .hide-ip5 {
    @media (max-width: $mq-ip5) {
      display: none !important;
    }
  }
