// _base.scss

// Start Generic Class
  html {
    height: 100%;
    width: 100%;
  }
  body {
    background: $color-black;
    font-family: $font-reg;
    font-size: 1em;
    height: 100%;
    width: 100%;
    position: absolute;
    // &:before {
    //   background: #171717;
    //   bottom: 0;
    //   content: "";
    //   height: 100%;
    //   left: 0;
    //   opacity: 0.85;
    //   position: fixed;
    //   right: 0;
    //   top: 0;
    //   width: 100%;
    // } 
    &.overflow {
      overflow: hidden;
    }
  }

  .site-wrapper {
    height: 100%;
    width: 100%;
    @include transition;
  }

// Header Styles
  .header {
    height: 48px;
    margin: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .header-logo {
    background: url('../img/mbp-logo-emblem.svg') no-repeat;
    display: block;
    height: 48px;
    width: 48px;
    @include text-hide();
    @media (min-width: $mq-small) {

    }
  }
  .header-page-title {
    display: block;
    margin: 16px 0;
    text-align: center;
    width: 100%;
    @extend .sub-text;
  }
  .header-menu-trigger {
    background: url('../img/header-icon-menu.svg') no-repeat;
    cursor: pointer;
    display: block;
    float: right;
    height: 13px;
    margin: 17px 0;
    width: 20px;
    @include text-hide();
  }

// Site Content Styles
  .site-content {
    padding: 40px 0 0 0;
    position: relative;
    z-index: 100;
  }

// Project Content Styles
  .project-content {
    padding: 20px 0;
  }

// Site Footer
  .site-footer {
    &.site-section {
      padding: 0 20px 20px;
    }
    @media (min-width: $mq-small) {
      &.site-section {
        padding: 0 20px 40px;
      }
    }
  }

  .ui-loader {
    display: none;
  }