// _type.scss

h1, h2, h3, h4, h5, h6 {
  color: $color-white;
  font-weight: 700;
  margin-bottom: 5px;
}

h1 {
  font-size: 3.0em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.8em;
}

p {
  color: $color-grey;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.sub-text {
  color: $color-grey-l3;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}