// _variables.scss

// Type
  $font-sansserif: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  $font-serif: 'Lora', 'Georgia', 'Times New Roman', serif;

// Colors
  $color-black:       #1E1E22;
  $color-white:       #fff;
  $color-grey:        #D3D3D2;
  $color-grey-light:  lighten($color-grey, 10%);
  $color-grey-xlight: lighten($color-grey, 20%);
  $color-grey-dark:   darken($color-grey, 10%);
  $color-grey-xdark:  darken($color-grey, 20%);

  $color-red:         #B33B48;

// Margins & Paddings
  $space:             10px;
  $space-x:           20px;
  $space-xx:          40px;
  $space-xxx:         80px;

// Media Queries 
  // @media (min-width: $mq-small) {}
  $mq-ip5:            321px;
  $mq-ip6:            375px;
  $mq-ip6p:           414px;
  $mq-small:          768px;
  $mq-medium:         992px;
  $mq-large:          1200px;

  .hide-ip5 {
    @media (max-width: $mq-ip5) {
      display: none !important;
    }
  }