// style.scss

@import '_reset';
@import '_variables';
@import '_mixins';
@import '_base';
@import '_type';
@import '_animations';
@import '_sound';
// @import '_design';
.buckets-divider {
  @media (min-width: $mq-small) {
    border-right: 1px solid #333;
    min-height: 280px;
    padding-right: 40px;
  }
}
.text-center {
  text-align: center;
}
.inline-block {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: $mq-small) {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.bg-black {
  background: $color-black;
  & + .bg-red {
    &:before {
      background: url('../img/img-bg-triangles-black.png') no-repeat;
      content: "";
      position: absolute;
      right: 4%;
      top: -2px;
      width: 62px;
      height: 48px;
      @media (min-width: $mq-small) {
        right: 2.5%;
      }
    }
  }
}
.bg-black-50 {
  background: $color-black-50;
}
.bg-black-gradient {
  background: $color-black-50;
  background: -webkit-linear-gradient(180deg, $color-black-50 0%, $color-black 100%);
  background: -moz-linear-gradient(180deg, $color-black-50 0%, $color-black 100%);
  background: -o-linear-gradient(180deg, $color-black-50 0%, $color-black 100%);
  background: linear-gradient(180deg, $color-black-50 0%, $color-black 100%);
}
.bg-red {
  background: $color-red;
  & + .bg-black {
    &:before {
      background: url('../img/img-bg-triangles-red.png') no-repeat;
      content: "";
      position: absolute;
      right: 4%;
      top: -2px;
      width: 62px;
      height: 48px;
      @media (min-width: $mq-small) {
        right: 2.5%;
      }
    }
  }
}
.site-header {
  overflow: hidden;
  position: relative;
  width: 100%;
  @include transition;
  &.site-section {
    padding: 40px 0;
    @media (min-width: $mq-small) {
      padding: 40px 20px;
    }
  }
  &:after {
    @include transition;
    @include vertical-center;
    background: #333333;
    content: "";
    left: 100px;
    position: absolute;
    height: 1px;
    width: 100%;
    @media (min-width: $mq-small) {
      left: 120px;
    }
  }
}
.site-header-logo {
  @include text-hide;
  background: url('../img/mbp-logo-emblem.svg') no-repeat center;
  height: 50px;
  width: 50px;
}
.site-section {
  border-bottom: 1px solid #333;
  padding: 40px 0 0;
  position: relative;
  &.no-border {
    border: 0;
  }
  p:first-child {
    padding-top: 35px;
  }
  h2 + p:first-child {
    padding-top: 0;
  }
  @media (min-width: $mq-small) {
    padding: 40px 20px;
  }
}
.section-content {
  margin: 0 0 40px 0;
  p {
    &:last-child {
      margin: 0;
    }
  }
}
.site-hero {
  &.site-section {
    padding: 100px 20px;
  }
}
.work-setup-ele {
  display: block;
  margin: 0 0 40px 0;
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  width: 100%;
}
.work-setup-title {
  bottom: 20px;
  left: 20px;
  position: absolute;
  z-index: 10;
  h3 {
    margin: 0;
  }
}
.work-setup-img {
  background: $color-black;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
  img {
    opacity: 0.5;
    width: 100%;
  }
}
.site-contact {
  min-height: 650px;
}
.section-content-checklist {
  padding: 0 20px;
  @media (min-width: $mq-small) {
    padding: 0;
  }
}
.section-content-checklist-ele {
  margin: 0 0 20px 0;
  .form-field-checkbox, .custom-checkbox {
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-bottom;
  }
  .form-field-checkbox {
    // display: none;
  }
  .form-field-label {
    display: inline-block;
    vertical-align: text-bottom;
    width: 80%;
  }
}
.form-field {
  padding: 0 20px 20px;
  @media (min-width: $mq-small) {
    padding: 0 0 20px;
  }
  .form-field-label {
    display: block;
    margin: 0 0 10px 0;
  }
  .form-field-text {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #F2F2F2 100%);
    background-color: $color-white;
    border: 0;
    border-radius: 2px;
    box-shadow: inset 2px 2px 0 $color-grey-l3, inset -2px -2px 0 $color-grey-l3;
    font-size: 1.0em;
    padding: 10px 20px;
    width: 70%;
  }
  .form-field-textarea {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #F2F2F2 100%);
    background-color: $color-white;
    border: 0;
    border-radius: 2px;
    box-shadow: inset 2px 2px 0 $color-grey-l3, inset -2px -2px 0 $color-grey-l3;
    font-size: 1.0em;
    min-height: 250px;
    padding: 20px;
    width: 100%;
  }
  .form-field-submit {
    background: #F2A850;
    border: 0;
    border-radius: 100px;
    box-shadow: inset 2px 2px 0 rgba(255,110,110,0.3), inset -2px -2px 0 rgba(255,110,110,0.3);
    color: $color-white;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.04em;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}
.form-content {
  @include transition;
  opacity: 1;
  height: 100%;
  &.form-sent {
    height: 0px;
    opacity: 0;
  }
}
.form-message {
  @include transition;
  border-bottom: 0px solid $color-red-d1;
  color: $color-white;
  font-size: 1.4em;
  line-height: 1.5;
  padding: 0;
  text-align: center;
  &.error {
    border-bottom: 1px solid $color-red-d1;
    margin: 0 0 40px 0;
    padding: 40px 20px;
  }
  &.success {
    padding: 200px 20px;
    .form-message-content {
      position: absolute;
      @include absolute-center;
    }
  }
}
.custom-checkbox {
  background: url('../img/img-checkbox-empty.svg') no-repeat center;
  background-size: cover;
  height: 19px;
  width: 19px;
  &.checked {
    background: url('../img/img-checkbox-checked.svg') no-repeat center;
    background-size: cover;
  }
  .form-field-checkbox {
    display: none;
  }
}
.social-media-list {

}
.social-media-list-ele {
  display: inline-block;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}