/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 321px) {
  .hide-ip5 {
    display: none !important;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #1E1E22;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  height: 100%;
  width: 100%;
  position: absolute;
}
body:before {
  background: #171717;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
body.overflow {
  overflow: hidden;
}

.site-wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.header {
  height: 100px;
  position: relative;
  z-index: 1000;
}

.header-logo {
  background: url("../img/mbp-logo-emblem.svg") no-repeat;
  display: block;
  height: 48px;
  left: 20px;
  position: absolute;
  top: 40px;
  width: 48px;
  overflow: hidden;
  text-indent: -9999px;
}

.header-menu-trigger {
  background: url("../img/header-icon-menu.svg") no-repeat;
  cursor: pointer;
  display: block;
  height: 13px;
  margin: 60px 0 0 0;
  position: fixed;
  right: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: -9999px;
}

.site-content {
  padding: 40px 0 0 0;
  position: relative;
  z-index: 100;
}

.project-content {
  padding: 20px 0;
}

.site-footer {
  display: none;
}

.ui-loader {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
}

h1 {
  font-size: 3.0em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.8em;
}

p {
  color: #575454;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.sub-text {
  color: #575454;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

@-webkit-keyframes tapPulse {
  0% {
    background: #575454;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    background: #B33B48;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes tapPulse {
  0% {
    background: #575454;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    background: #cf6c77;
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    background: #B33B48;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.type-sound {
  background: url("../img/bg-sound-project-higher.png") no-repeat center fixed;
  background-size: cover;
}

.track-waveform {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.track-waveform img {
  color: #B33B48;
  width: 100%;
}

.mbp-player {
  background: rgba(23, 23, 23, 0.7);
  bottom: 0;
  height: 55px;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  width: 100%;
  -webkit-transition: all 1000ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 1000ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 1000ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 1000ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.mbp-player-tracking {
  background: #402226;
  height: 5px;
  width: 100%;
}

.mbp-player-tracking-status {
  background: #B33B48;
  height: inherit;
  width: 50%;
}

.mbp-player-controls {
  padding: 15px 0;
}

.mbp-player-controls-buttons-ele {
  cursor: pointer;
  text-align: right;
  width: 100%;
}

.mbp-player-song-current-icon {
  display: inline-block;
  padding-right: 10px;
}

.mbp-player-song-current-title {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .08em;
  text-transform: uppercase;
}

.mbp-player-tracks-list-indicators {
  top: 50%;
  position: absolute;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: fixed;
  right: 20px;
  z-index: 100000;
}
.mbp-player-tracks-list-indicators .track {
  margin: 0 0 20px 0;
}
.mbp-player-tracks-list-indicators .indicator {
  background: #575454;
  border-radius: 10px;
  cursor: pointer;
  height: 10px;
  width: 10px;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mbp-player-tracks-list-indicators .indicator.tapped {
  -webkit-animation: tapPulse 200ms ease-in-out 0s normal;
  -moz-animation: tapPulse 200ms ease-in-out 0s normal;
  -o-animation: tapPulse 200ms ease-in-out 0s normal;
  animation: tapPulse 200ms ease-in-out 0s normal;
}
.mbp-player-tracks-list-indicators .indicator.active {
  background: #B33B48;
}

.mbp-player-tracks-list-names {
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  bottom: -20px;
  height: 110%;
  left: -40px;
  overflow-x: hidden;
  padding-bottom: 15%;
  position: absolute;
  top: -10px;
  width: 85%;
  z-index: 1000000000;
  -moz-transform: translate(-50%, -100%) skew(-2deg, -2deg);
  -o-transform: translate(-50%, -100%) skew(-2deg, -2deg);
  -ms-transform: translate(-50%, -100%) skew(-2deg, -2deg);
  -webkit-transform: translate(-50%, -100%) skew(-2deg, -2deg);
  transform: translate(-50%, -100%) skew(-2deg, -2deg);
}
.mbp-player-tracks-list-names.active {
  position: fixed;
  -moz-transform: translate(0%, 0%) skew(-2deg, -2deg);
  -o-transform: translate(0%, 0%) skew(-2deg, -2deg);
  -ms-transform: translate(0%, 0%) skew(-2deg, -2deg);
  -webkit-transform: translate(0%, 0%) skew(-2deg, -2deg);
  transform: translate(0%, 0%) skew(-2deg, -2deg);
}

.mbp-player-tracks-list-names-wrap {
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  height: 100%;
  padding-right: 12px;
  position: relative;
  right: -12px;
  width: 100%;
}

.mbp-player-tracks-list-names-inner {
  height: 100%;
  margin: 30% 0 0 0;
}
.mbp-player-tracks-list-names-inner .track {
  margin: 0 0 2px 0;
}
.mbp-player-tracks-list-names-inner .name {
  background: rgba(23, 23, 23, 0.9);
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  padding: 20px;
  text-align: right;
}

.mbp-player-tracks-list-active {
  opacity: 0.5;
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transform-origin: center right;
}
.mbp-player-tracks-list-active.mbp-player {
  bottom: -20%;
  opacity: 0;
}

.mbp-player-icon {
  display: block;
  height: 18px;
  width: 18px;
}

.mbp-player-icon-prev {
  background: url("../img/icon-prev.svg");
}

.mbp-player-icon-next {
  background: url("../img/icon-next.svg");
}

.mbp-player-icon-play {
  background: url("../img/icon-play.svg");
}

.mbp-player-icon-pause {
  background: url("../img/icon-pause.svg");
}

/*# sourceMappingURL=style.css.map */
