/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 321px) {
  .hide-ip5 {
    display: none !important;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #1E1E22;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  height: 100%;
  width: 100%;
  position: absolute;
}
body:before {
  background: #171717;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
body.overflow {
  overflow: hidden;
}

.site-wrapper {
  height: 100%;
  width: 100%;
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.header {
  height: 48px;
  margin: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-logo {
  background: url("../img/mbp-logo-emblem.svg") no-repeat;
  display: block;
  height: 48px;
  width: 48px;
  overflow: hidden;
  text-indent: -9999px;
}

.header-page-title {
  display: block;
  margin: 16px 0;
  text-align: center;
  width: 100%;
}

.header-menu-trigger {
  background: url("../img/header-icon-menu.svg") no-repeat;
  cursor: pointer;
  display: block;
  float: right;
  height: 13px;
  margin: 17px 0;
  width: 20px;
  overflow: hidden;
  text-indent: -9999px;
}

.site-content {
  padding: 40px 0 0 0;
  position: relative;
  z-index: 100;
}

.project-content {
  padding: 20px 0;
}

.site-footer {
  display: none;
}

.ui-loader {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
}

h1 {
  font-size: 3.0em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.8em;
}

p {
  color: #575454;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.sub-text, .header-page-title {
  color: #E6E6E6;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

@-webkit-keyframes tapPulse {
  0% {
    background: #575454;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    background: #B33B48;
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes tapPulse {
  0% {
    background: #575454;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    background: #cf6c77;
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    background: #B33B48;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.type-sound {
  background: url("../img/bg-sound-project-higher.png") no-repeat center fixed;
  background-size: cover;
}

.track-waveform {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.track-waveform img {
  color: #B33B48;
  width: 100%;
}

.mbp-player {
  background: rgba(23, 23, 23, 0.7);
  bottom: 0;
  height: 55px;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  width: 100%;
  -webkit-transition: all 1000ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 1000ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 1000ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 1000ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}

.mbp-player-tracking {
  background: #402226;
  height: 5px;
  width: 100%;
}

.mbp-player-tracking-status {
  background: #B33B48;
  height: inherit;
  width: 50%;
}

.mbp-player-controls {
  padding: 15px 0;
}

.mbp-player-controls-buttons-ele {
  cursor: pointer;
  text-align: right;
  width: 100%;
}

.mbp-player-song-current-icon {
  display: inline-block;
  padding-right: 10px;
}

.mbp-player-song-current-title {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .08em;
  text-transform: uppercase;
}

.mbp-player-tracks-list-names .track {
  display: inline-block;
  padding: 0 20px;
  width: 117px;
}
.mbp-player-tracks-list-names .track.playing .controls {
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.mbp-player-tracks-list-names .track.playing .name {
  -moz-transform: rotate(-90deg) translate(115%, -30%);
  -o-transform: rotate(-90deg) translate(115%, -30%);
  -ms-transform: rotate(-90deg) translate(115%, -30%);
  -webkit-transform: rotate(-90deg) translate(115%, -30%);
  transform: rotate(-90deg) translate(115%, -30%);
  opacity: 1;
  color: #B33B48;
}
.mbp-player-tracks-list-names .name {
  color: #fff;
  display: block;
  font-weight: 300;
  font-size: 3.0em;
  line-height: 1;
  opacity: .5;
  -moz-transform: rotate(-90deg) translate(57%, -30%);
  -o-transform: rotate(-90deg) translate(57%, -30%);
  -ms-transform: rotate(-90deg) translate(57%, -30%);
  -webkit-transform: rotate(-90deg) translate(57%, -30%);
  transform: rotate(-90deg) translate(57%, -30%);
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  white-space: nowrap;
  transform-origin: 100% 100%;
}
.mbp-player-tracks-list-names .controls {
  background: #B33B48;
  height: 60px;
  width: 100%;
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -moz-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  -o-transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
  transition: all 350ms cubic-bezier(0.14, 0.62, 0.39, 1) 0s;
}
.mbp-player-tracks-list-names .controls-ele {
  color: #531b21;
  height: 30px;
  letter-spacing: .08em;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.mbp-player-tracks-list-names .controls-ele:first-child {
  border-bottom: 1px solid #531b21;
}
.mbp-player-tracks-list-names .controls-state div {
  overflow: hidden;
  text-indent: -9999px;
  left: 50%;
  position: absolute;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #531b21;
  display: none;
  height: 14px;
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  width: 14px;
}
.mbp-player-tracks-list-names .controls-state div.active {
  display: block;
}
.mbp-player-tracks-list-names .controls-state-paused {
  -webkit-mask-image: url(../img/icon-play.svg);
  mask-image: url(../img/icon-play.svg);
}
.mbp-player-tracks-list-names .controls-state-playing {
  -webkit-mask-image: url(../img/icon-pause.svg);
  mask-image: url(../img/icon-pause.svg);
}

.mbp-player-tracks-list-names-wrap {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: 10000;
}

.mbp-player-tracks-list-names-inner {
  bottom: 0;
  position: absolute;
  width: 10000px;
}

.mbp-player-icon {
  display: block;
  height: 18px;
  width: 18px;
}

.mbp-player-icon-prev {
  background: url("../img/icon-prev.svg");
}

.mbp-player-icon-next {
  background: url("../img/icon-next.svg");
}

.mbp-player-icon-play {
  background: url("../img/icon-play.svg");
}

.mbp-player-icon-pause {
  background: url("../img/icon-pause.svg");
}

/*# sourceMappingURL=style.css.map */
