---

title: "My Digital Tools: 2020 Edition"
date: 2020-10-18 02:13 UTC
tags: What Should I Use
type: lead
topic: tools
thumbnail_image:
toolset:
  - section: Productivity
    tool:
      - name: Notion
        cost: $4/mo
        platform: Web
        desc: I use Notion to manage my tasks, projects and goals. Its a no-code productivity builder for the pros.
        cta: https://www.notion.so/
      - name: Google Workspace
        cost: $6/mo
        platform: Web
        desc: Google Workspace is used as my email, calendar, docs, and sheets server. Always online.
        cta: https://workspace.google.com/
      - name: Dropbox
        cost: $16.58/mo
        platform: Web
        desc: I use Dropbox to manage and backup my filesfor design, tech, music & photography.
        cta: https://www.dropbox.com
      - name: Raindrop
        cost: $0/mo
        platform: Web
        desc: I use Raindrop for the collecting and sharing of my bookmarks.
        cta: https://raindrop.io/
  - section: Communication
    tool:
      - name: Spark
        cost: $0/mo
        platform: Mac OS
        desc: I use Spark to manage my 6 email accounts. Its great for inbox-zero processes as I can easily archive emails.
        cta: https://www.sparkmailapp.com/
      - name: Slack
        cost: $0/mo
        platform: Web
        desc: Slack is great for joining communities, finding work, and communicating with project teams.
        cta: https://www.slack.com
      - name: Zoom
        cost: $0/mo
        platform: Mac OS
        desc: I use Zoom for video conferences with teammates and client meetings.
        cta: https://www.zoom.com
  - section: Design
    tool:
      - name: Figma
        cost: $0/mo
        platform: Web
        desc: My primary tools for designing websites and apps. Its great for design collaboration.
        cta: https://www.figma.com/
      - name: Sketch
        cost: $99
        platform: Mac OS
        desc: My offline design tool for crafting quick ideas and solo work because of its quicker load times.
        cta: https://www.sketch.com/
      - name: Affinity Designer
        cost: $49.99
        platform: Mac OS
        desc: My Adobe Illustrator alternative for creating logos, icons and illustrations.
        cta: https://affinity.serif.com/en-us/designer/
      - name: Affinity Photo
        cost: $49.99
        platform: Mac OS
        desc: My Adobe Photoshop alternative for photo manipulation, editing and creating raster graphics.
        cta: https://affinity.serif.com/en-us/photo/
  - section: Photography & Video
    tool:
      - name: Lightroom Classic
        cost: $10/mo
        platform: Mac OS
        desc: I use Lightroom Classic to edit my raw photos from my Fujifilm XE-1.
        cta: https://www.adobe.com/products/photoshop-lightroom-classic.html
      - name: Da Vinci Resolve
        cost: $0/mo
        platform: Mac OS
        desc: My free, go-to editing software for IG Stories video and Youtube videos.
        cta: https://www.blackmagicdesign.com/products/davinciresolve/
      - name: Streamlabs OBS
        cost: $0/mo
        platform: Mac OS
        desc: How I stream what's on my screen to Youtube or Twitch.
        cta: https://streamlabs.com/
      - name: Loom
        cost: $0/mo
        platform: Mac OS
        desc: Screen capturing tool to walk clients through software.
        cta: https://www.loom.com/
  - section: Development
    tool:
      - name: Visual Studio Code
        cost: $0/mo
        platform: Mac OS
        desc: Where I code my websites and apps
        cta: https://code.visualstudio.com/
      - name: Hyper
        cost: $199.99
        platform: Mac OS
        desc: The MacOS terminal software I use that's extendable and fun to use
        cta: http://hyper.is/
      - name: Netlify
        cost: $0/mo
        platform: Web
        desc: Where I host my static Jamstack websites
        cta: https://www.netlify.com
      - name: Digital Ocean
        cost: $5/mo
        platform: Web
        desc: Semi-traditional hosting platform where Wordpress and React websites live.
        cta: https://www.digitalocean.com
  - section: Music Production
    tool:
      - name: Ableton Live
        cost: $99
        platform: Mac OS
        desc: My main production sampler & DAW for the creation stage of music production.
        cta: https://www.adobe.com/products/photoshop-lightroom-classic.html
      - name: Logic Pro X
        cost: $199.99
        platform: Mac OS
        desc: My secondary production DAW, primarily for music mixing and mastering and some creation.
        cta: https://www.blackmagicdesign.com/products/davinciresolve/
      - name: Spotify
        cost: $10/MO
        platform: Mac OS
        desc: Where I listen to music and gather inspiration for new music to create.
        cta: https://streamlabs.com/
      - name: Splice
        cost: $19.99/mo
        platform: Mac OS
        desc: How I rent to own instrument and mixing plugins for music creation. The kits are nice as well.
        cta: https://www.loom.com/
  - section: Internet &amp; Security
    tool:
      - name: Chrome
        cost: Your data
        platform: Mac OS
        desc: Main browser of choice for casual browsing to web development.
        cta: https://www.google.com/chrome/
      - name: Windscribe
        cost: $50
        platform: Mac OS
        desc: VPN software I use to mask my IP address when on public wifi
        cta: https://windscribe.com/
      - name: Enpass
        cost: $0/mo
        platform: Mac OS
        desc: Password management app that syncs between my laptop and phone via Dropbox
        cta: https://www.enpass.io/
  - section: Utility
    tool:
      - name: Clean
        cost: $0/mo
        platform: Mac OS
        desc: Moves files from my desktop to a folder in my documents once a day
        cta: http://rinik.net/clean/
      - name: Moom
        cost: $10
        platform: Mac OS
        desc: Handy utility that lets me organize my windows into tidy grids
        cta: https://manytricks.com/moom/
      - name: Rescue Time
        cost: $0/mo
        platform: Web &amp; Mac OS
        desc: Track the time I spend on my laptop and what apps I use during that time
        cta: https://www.rescuetime.com/
---

.site-blog-post-content.justify-center
  p 2020 has been a crazy year so far. What has been great, are the set of tools available for people to manage their design, code and business assets. Here's a feature set of tools I use on a weekly basis. 

.site-blog-post-content.full-bleed
  - current_article.data.toolset.each do |tls|
    .site-blog-post-content-sub
      header.site-block-header.justify-center
        h2 #{tls.section}
      ul.card-set
        - tls.tool.each do |tl|
          li.card
            header.card-header
              h4 #{tl.name}
            .card-meta
              .card-meta-left
                span.card-meta-label Cost&nbsp;
                span.card-meta-value #{tl.cost}
              .cost-meta-right
                span.card-meta-label Platform&nbsp;
                span.cost-meta-value #{tl.platform}
            .card-content
              p.card-content-desc #{tl.desc}
              .card-content-cta
                == link_to 'Visit Website', tl.cta, class: "card-cta-link"
    

